[2020-07-13 23:00] spboyer opened #5 "Windows Line Feeds in Script."
BUG:
`./local-process-quickstart.sh: bad interpreter: /bin/bash^M: no such file or directory`

FIX - `sed -i -e 's/\r$//' local-process-quickstart.sh`

[2020-07-14 15:50] Gordonby commented on #5
Thanks @spboyer - I'll add a .gitattributes to the repo to stop this happening again

[2020-07-16 07:33] #5 closed

[2020-07-27 06:47] trumhemcut opened #14 "VS Code is hanging at "Updating dependencies""
**Describe the bug**
I have installed Kubernetes extension and now want to try to experience local development by installing Local Process with Kubernetes. After installation, open VSCode again, VSCode will hang if open Kubernetes Tab.

![image](https://user-images.githubusercontent.com/5198341/88511591-4d687680-d00f-11ea-92e4-5ae0e6b6db33.png)

**To Reproduce**
- Install K8S Extension
- Install L

[2020-07-27 11:08] Gordonby commented on #14
Hi @trumhemcut ,

I'm afraid we don't currently support linux with the VS Code extension. 😞

As part running LPK we need to add entries to the host file which requires elevation on the OS.  This requires slightly different implementations per linux distro.  It's something that we're working on, but isn't ready yet.  We should handle this better, so thank you for letting us know. 👍

[2020-07-27 11:11] trumhemcut commented on #14
Thanks for the update @Gordonby. Hope it will support sometimes then. It's really needed to support on Ubuntu as for now we're working on AI project which mostly using VSCode SSH remote to GPU machine to develop.

[2020-07-28 01:00] daniv-msft commented on #14
Thank you for reporting this issue! From what you mention, it is possible that this issue is not only impacting Linux.
As of today, we integrate with the Kubernetes extension (owner of the Kubernetes tab) through an API they provide.
Because we only complete the API call once we download our required binaries, this could explain why nothing shows in the Kubernetes panel in that case.

We're invest

[2020-08-07 15:53] markphillips100 opened #15 "Enabling Local Process with Kubernetes VSCode extension breaks kubectl devicelogin authentication"
**Describe the bug**
The extension changes the .kube/config auth-provider configuration when you launch VSCode with the extension enabled.  This causes a kubectl command from a terminal to require a devicelogin for every usage.  The extension appears to be removing "environment: AzurePublicCloud" from the yaml (users:name:auth-provider:config:environment value)

**To Reproduce**
1. Launch VSCode a

[2020-08-11 18:21] pragyamehta commented on #15
Thanks for reporting the issue! We are taking a look at it and will get back to you after our investigation!

[2020-08-12 03:02] jon-walton commented on #15
@markphillips100 I've had the same issue. Using kubelogin was a workaround for us (although I would prefer not to because it's yet another tool in the development flow)

https://github.com/Azure/kubelogin

[code]

`kubelogin convert-kubeconfig` needs to be run after every `az aks get-credentials`

[2020-08-12 04:20] markphillips100 commented on #15
@jon-walton thanks for that info.  I didn't know about this tool.

Like you I'd prefer not to use another tool but if it works I'll give it a shot till there's an extension fix.

[2020-08-19 08:35] FrankVDL-Trivec opened #20 "Isolation in Visual Studio"
I don't see a way to setup isolation in Visual Studio.

In VS Code the extension handles the isolation correctly but this is not working in the "regular" Visual Studio.

[2020-08-19 08:49] Gordonby commented on #20
Hi @FrankVDL-Trivec
You're right, we don't yet have the feature in our Visual Studio Extension.
It's on the [roadmap](https://github.com/microsoft/mindaro/projects/1#card-42586126), and work is in progress.

[2020-08-19 08:59] FrankVDL-Trivec commented on #20
Any idea on an ETA ?

We are using DevSpaces rather heavy but it's causing a lot for problems to keep it up an running.
So we hoop this might be a better solution for us.

[2020-08-19 12:52] Gordonby commented on #20
I'll check to share if we have a date we can share.
In the meantime, have you tried the experience in VSCode?  I'm assuming you're using c#?

[2020-08-19 12:59] FrankVDL-Trivec commented on #20
Yes we checked in VSCode for our frontend development and there it works good.
For the backend and API services we are using Visual Studio so ....

[2020-08-19 15:55] Gordonby commented on #20
@FrankVDL-Trivec - this sounds a little like one of the current bugs thats being fixed.  as a possbible workaround, can i get you to change your isolateAs value?  From "isolateAs": "frank.va-2a44" to "isolateAs": "f"

[2020-09-08 01:56] wu-yafeng opened #25 "The JSON-RPC connection with the remote party was lost before the request could complete"
**Describe the bug**
Could not setup `Local Process with Kubernetes` in visual studio.
![image](https://user-images.githubusercontent.com/25654404/92424821-efa37e80-f1b7-11ea-805f-95d68abc25db.png)

**To Reproduce**
1.Create a new AspNetCore Web Application
2.Switch debugger to Local Process with Kubernetes
3.Play
4.The drop down box of 'Namesapce' could not be selected.

**Expected behavior**
The

[2020-09-08 01:58] wu-yafeng commented on #25
![image](https://user-images.githubusercontent.com/25654404/92425380-a5bb9800-f1b9-11ea-8918-79e460bccfde.png)

[2020-09-08 06:15] wu-yafeng commented on #25
I have fixed it by using **VS 2019 16.7.2** instead **VS 2019 Preview**

Something need attention:
- Stop IIS Server because **Local Process with Kubernetes** required port:80
- Make sure your host file is writable

[2020-09-08 06:15] #25 closed

[2020-09-09 03:57] daniv-msft opened #26 ""User X does not have appropriate auth credentials in kubeconfig" when listing namespaces in Visual Studio"
From what we've seen, this is related to enabling on an AKS cluster AAD managed authentication where multi-factor authentication is required. Potentially, this might also be caused by other AAD managed authentication settings.

Symptoms of the issue:
![image](https://user-images.githubusercontent.com/48293037/92552294-2c519300-f215-11ea-9e46-d76b315bb498.png)

As of today, Visual Studio pulls a te

[2020-09-15 18:05] dahovey commented on #20
It seems isolation in Visual Studio 2019 is supported based on the UI, is this correct?

![image](https://user-images.githubusercontent.com/22330242/93247559-55a57e00-f743-11ea-8d69-e1834c8e633c.png)

[2020-09-15 19:16] daniv-msft commented on #20
@dahovey Absolutely, thanks! We just released the isolation feature in Visual Studio 1-2 weeks ago.

@FrankVDL-Trivec Could you please give a try to the latest version of the Visual Studio, and let me know if you run into any issues?

[2020-09-16 14:48] FrankVDL-Trivec commented on #20
Without isolation it seems to be working find.
With isolation enabled we get "One or more errors occurred"

![image](https://user-images.githubusercontent.com/60176252/93353533-540bb100-f83c-11ea-84a3-2be82c8d3573.png)

Can this be the same problem where the name of the isolation is to long ?
We don't seem to be able to see the setting in the launcSettings.json file, where can we change the "isola

[2020-09-16 19:38] daniv-msft commented on #20
Thank you @FrankVDL-Trivec for trying this, and sorry you encounter this issue.

As mentioned in https://github.com/Azure/dev-spaces/issues/404, I agree the current error message isn't very helpful. :(
We are presently improving the UX in Visual Studio so that errors are better surfaced. We expect that this will be available in Visual Studio early next week.

In the meantime, you can have a look a

[2020-09-18 19:11] lbicknese opened #28 "Cannot launch Local Process with Kubernetes from VSCode."
Cannot launch Local Process with Kubernetes from VSCode.

**To Reproduce**

1. Install Local Process with Kubernetes extension in VSCode.
2. Connect remote cluster and set appropriate namespace.
3. Launch Local Process with Kubernetes from debug.
4. Setup values when prompted.
5. Click continue on prompt: "We need to update your hosts file to match your cluster's environment. Administrator permiss

[2020-09-18 21:02] daniv-msft commented on #28
Thank you @lbicknese for reporting this issue, and sorry you encounter it.

According to the logs you shared, this is due to a bug on our side: your Windows username contains a space, and we're not handling this properly in this scenario. :(
I'm logging a bug on our side, and we'll work on this with a high priority.

Unfortunately, I don't have a workaround to offer in the meantime to unblock you.

[2020-09-21 19:14] greenie-msft opened #29 "Bridge to Kubernetes GA"
We are super excited to announce General Availability of Bridge to Kubernetes.

Formerly known as Local Process with Kubernetes, Bridge to Kubernetes is an iterative development tool offered in Visual Studio and VS Code that allows developers to write, test and debug microservice code on their development workstations while consuming dependencies and inheriting existing configuration from a Kubern

[2020-09-21 21:36] danegsta commented on #26
With the 1.0 release of the VS extension, we've enabled a workaround for this particular error. If you get this error message while refreshing resources for your cluster with AAD managed authentication, you can follow these steps to get unblocked:

1. Ensure you have kubectl installed (either run `az aks install-cli` if you have the azure cli installed or follow the directions at https://kubernete

[2020-09-22 12:38] Nerzal opened #31 "Failed to identify the container to use in pod 'podname-id' from the container port information in the pod spec."
**Describe the bug**

Error: Failed to establish a connection. Error: Failed to identify the container to use in pod 'platform-7695c6fbbd-d8qgf' from the container port information in the pod spec. If there are multiple containers in the pod, specify the container name and retry.

**To Reproduce**
Try to use a container with multiple pods.

**Expected behavior**
Well, we could provide a config fla

[2020-09-22 18:15] lolodi commented on #31
Hello!
You are correct, we don't have a way to let you specify the container as of today. We'll add this to our backlog.
In the mean time you should be able to get unlocked by adding the `containerPort` to the container spec of the container running your code, similarly at how it is documented here: https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/
This way when

[2020-09-22 19:08] Nerzal commented on #31
Thank you for the response, i'll try that tomorow and report back, if it works that way.

[2020-09-23 00:35] amsoedal opened #32 "Workaround for "Failed to update dependencies: Maximum retries exceeded""
**The issue**
Some of the time, getting dependencies for Bridge to Kubernetes in VS Code may fail with this error.

![image](https://user-images.githubusercontent.com/13313748/93949536-b6a9f480-fcf5-11ea-9d8e-fc6749da17de.png)
If the issue reproduces consistently after hitting the retry button, a manual workaround is the best way to proceed.

**The workaround**
1. From a browser, visit https://aka

[2020-09-23 09:54] Nerzal commented on #31
Hi @lolodi,

i had the containerPort allready specified.
So that does not seem to be sufficient.

[2020-09-23 13:33] trhumphries opened #33 "Launch Bridge to Kubernetes is not added to existing projects"
**Describe the bug**
I installed the Bridge to Kubernetes GA version and opened an existing project the launch.json did not get updated to support the add-in. I tried to manually add it using the template support however there is no template for it

**To Reproduce**
Open a project that it hasn't been used on

**Expected behavior**
I'd expect it to add a new configuration to the launch.json

**Logs

[2020-09-23 14:51] daniv-msft commented on #33
Thank you @trhumphries for reporting this issue.
There are some cases where the Bridge to Kubernetes launch configuration won't be added automatically. For example, it won't be added if there isn't any other launch configuration in the launch.json.
This is because Bridge requires another launch configuration to run locally your project once the connection with your cluster is done.

In order to ma

[2020-09-23 14:55] trhumphries commented on #33
Thanks. I'll try it out and let you know how it goes.

[2020-09-23 14:56] daniv-msft commented on #33
Great, thanks @trhumphries!

[2020-09-23 15:02] daniv-msft commented on #28
Hello @lbicknese,
We released a new version of our VS Code extension and binaries that should unblock you.

Could you please:
- Update to the latest version of the extension in VS Code (now called `Bridge to Kubernetes`).
- Wait for the new binaries to be downloaded (the `Kubernetes` status bar item at the bottom of VS Code showing your current namespace). They might have already been downloaded i

[2020-09-23 15:08] daniv-msft commented on #14
Hello @trumhemcut,
We just released earlier this week a new version of our extension, now called "Bridge to Kubernetes". As part of the new features, we now support Linux users (preview feature).
However, we don't support SSH remote yet. Is this something important for you and your team?

If you can use a full Linux machine, please feel free to give a try to Bridge to Kubernetes and let us know ho

[2020-09-23 15:25] lbicknese commented on #28
It appears to have made it further this after the upgrade and removing the space in `isolateAs`. However, I am now getting the following error:

[code]

[2020-09-23 15:28] trhumphries commented on #33
When prompted to pick the launch configuration to use to run your configuration locally I choose the .NET Core Launch (web).
Is that the correct one?
When I then use the generated .NET Core launch (web) with Kubernetes it eventually displays an error The prelaunchtask ' bridge-to-kubernetes.compind' terminated with an exit code 1.

[2020-09-23 15:38] daniv-msft commented on #28
Thank you for your quick reply! I'm following up with the team about this and I'll let you know if we need more information to make progress on this issue.

[2020-09-23 15:48] daniv-msft commented on #33
Yes, the `.NET Core Launch (web)` profile sounds good!

Do you get any error when you look at your VS Code terminal?
You should first see our task connecting to your cluster:
![image](https://user-images.githubusercontent.com/48293037/94036333-0bdb1a00-fd79-11ea-89dc-688f78d8ed19.png)

Then, still in the terminal, you should see the .NET launch configuration being started:
![image](https://user-im

[2020-09-23 15:53] tsubasaxZZZ commented on #14
I'm facing same issue. I would like to run on SSH Remote.

[2020-09-23 15:59] daniv-msft commented on #14
Thank you for your feedback @tsubasaxZZZ! Knowing that SSH Remote is important for you helps us prioritize. We are having an item in our backlog for this, and I'll increase it's priority.

While we fix this, would it be possible to use a full Linux machine or another OS (Windows/Mac)?

[2020-09-23 16:29] amsoedal commented on #28
Hi @lbicknese do you have logs for the "Failed to get routing manager deployment status" issue? Thanks so much!

[2020-09-23 16:38] lbicknese commented on #28
If there are more detailed logs that I can provide, let me know. However, this is what is displayed on the console:

[code]

[2020-09-23 16:53] amsoedal commented on #28
Ah okay! I actually meant if you could upload the log files from the temp folder, similar to how they were included in the original issue (bridge-library-..., bridge-endpointmanager-... and so on) . They should be under %TEMP%/Bridge to Kubernetes now

[2020-09-23 17:41] lolodi commented on #31
Hi @Nerzal,
Could you please share the .yaml of your deployment and pod? I'd like to understand you configuration better to figure out what's causing this error.

[2020-09-23 17:45] trhumphries commented on #33
Yep there was a build error I wasn't seeing. Thanks I think I have it working now.

[2020-09-23 17:45] #33 closed

[2020-09-23 17:46] daniv-msft commented on #33
Great, glad it works now!

[2020-09-23 18:50] amsoedal commented on #28
Hi @lbicknese , I was actually able to repro this locally--in addition to removing the space, could you also replace any uppercase letters? So sorry about the inconvenience, we're working to get these fixes into our routing-generation ASAP.

[2020-09-23 19:09] lbicknese commented on #28
Hi @amsoedal , still got the same error message. One thing that I still notice is that I receive a prompt that say the extension needs administrator access to update my hosts file. However, I never get any UAC prompt and my hosts file is never updated.

If there is any other logging I can provide or if there are any other debugging steps I can take please let me know.

[2020-09-23 19:12] amsoedal commented on #28
Ok thanks for confirming @lbicknese! Sounds like there is a problem with the EndpointManager launch as well. Will keep investigating

[2020-09-23 19:15] lbicknese commented on #28
@amsoedal , sorry I forgot to add logs.

[bridge-library-2020-09-23-19-05-28-28764.txt](https://github.com/microsoft/mindaro/files/5271241/bridge-library-2020-09-23-19-05-28-28764.txt)
[bridge-mindarocli-2020-09-23-19-05-28-28764.txt](https://github.com/microsoft/mindaro/files/5271242/bridge-mindarocli-2020-09-23-19-05-28-28764.txt)
[bridge-library-2020-09-23-19-03-20-20888.txt](https://github.com

[2020-09-24 15:01] trhumphries opened #34 "ETA on Multi-service Support"
Any idea how far out this is? Also, could I open 2 copies of VSCode and debug a different service in each one at the same time?

[2020-09-24 15:50] daniv-msft commented on #34
@trhumphries We already provide the multi-service debugging feature as a Preview with the latest VS Code version. You just need to open the two projects you want to debug as a [multi-root workspace](https://code.visualstudio.com/docs/editor/multi-root-workspaces) and start debugging with Bridge to Kubernetes for each of them.
Of course, each project needs to be configured for Bridge beforehand.

P

[2020-09-24 20:18] jstaf commented on #28
I'm seeing this too - from what I can tell, the `isolateAs` functionality itself seems to be the broken part.

[code]

Details:

OS: Linux (Pop!_OS 20.04 LTS)
VSCode version: code/stable,now 1.49.1-1600299189 amd64
Extension version: v1.0.120200919
Kubernetes versions (yes, I'm using EKS on AWS... I know this isn't exactly a supported configuration at the moment):

[code]

As soon as I remove `iso

[2020-09-24 20:58] daniv-msft commented on #28
Thank you @jstaf for reporting this issue. From what you mention, the root cause seems to be different as your `isolateAs` header is correct.

Would it be possible for you to reproduce the bug and send us the Bridge to Kubernetes logs? You can find them in `$TMPDIR/Bridge to Kubernetes`.
These logs might contain personally identifiable information, so if you prefer not to attach them on GitHub, yo

[2020-09-25 08:51] simyco commented on #20
i also have probelms with isolation, attached my logs [bridge-mindarocli-2020-09-25-08-44-49-17232.zip](https://github.com/microsoft/mindaro/files/5281636/bridge-mindarocli-2020-09-25-08-44-49-17232.zip)

[2020-09-25 13:49] jstaf commented on #28
@daniv-msft I've attached the logs here, enjoy:

[bridge-library-2020-09-25-13-35-34-56261.txt](https://github.com/microsoft/mindaro/files/5283153/bridge-library-2020-09-25-13-35-34-56261.txt)
[bridge-library-2020-09-25-13-35-37-56282.txt](https://github.com/microsoft/mindaro/files/5283154/bridge-library-2020-09-25-13-35-37-56282.txt)
[bridge-mindarocli-2020-09-25-13-35-34-56261.txt](https://githu

[2020-09-25 14:31] jstaf opened #35 "Proxy all outgoing application traffic through Bridge to Kubernetes"
**Is your feature request related to a problem? Please describe.**

Many environments will not have databases or other dependencies running on Kubernetes or exposed as Kubernetes Services at all. Bridge to Kubernetes does not proxy any traffic that's not linked to a Kubernetes Service.

Example scenario:

* A user creates a managed database using a service like AWS RDS. The user opts to use a priv

[2020-09-25 17:32] pragyamehta commented on #20
Hi @simyco Thanks for reporting your issue! It would be great if you could attach the logs from the routing manager running in your namespace. You can retrieve the logs by running the below commands :
1. Retrieve the routing manager pod name
       kubectl -n {namespace} get pods
2. Retrieve logs for the routing manager pod
      kubectl -n {namespace} logs {routing manager pod name from step 1}

[2020-09-25 19:37] amsoedal commented on #28
Thanks for these logs @jstaf !
We hope to get a fix out for this issue in our release next week. @lbicknese do you mind confirming whether the account you're using on your machine is an admin account or not?

[2020-09-25 22:02] lbicknese commented on #28
@amsoedal , I am on a local Administrator account.

[2020-09-26 05:57] greenie-msft commented on #35
Hi @jstaf

Thank you for your request and providing the details regarding the scenario you would like to see enabled. I've created a work item to discuss your proposal further with the team. I will respond back to the thread as soon as I have an update to share.

Thanks.

[2020-09-28 18:38] amsoedal commented on #28
We just released a fix this morning, please let us know if either of you still repro this issue!

[2020-09-28 18:49] lbicknese commented on #28
It made further this time. I did receive the UAC prompt to allow EndpointManager. Logs attached:

[bridge-library-2020-09-28-18-43-41-13104.txt](https://github.com/microsoft/mindaro/files/5294394/bridge-library-2020-09-28-18-43-41-13104.txt)
[bridge-mindarocli-2020-09-28-18-43-41-13104.txt](https://github.com/microsoft/mindaro/files/5294395/bridge-mindarocli-2020-09-28-18-43-41-13104.txt)
[bridge-

[2020-09-28 19:34] trhumphries opened #37 "Required Azure AKS permissions"
Not all of our developers have admin access to our Azure subscriptions. What level of access do they need to use Bridge to Kubernetes?

[2020-09-28 19:35] #34 closed

[2020-09-28 19:40] trhumphries opened #38 "User isolation via task.json"
I've noticed that tasks.json is updated with an isolateAs property when you run Bridge to Kubernetes: Configure.
Should we be adding tasks.json to .gitignore and have each user run the configure step to make everyone uses a unique value for this setting?

[2020-09-28 19:51] pragyamehta commented on #38
@trhumphries thanks for reaching out! Yes, the isolate feature is provided so that each user can generate a unique "isolateAs" header and are able to debug without affecting the stable version of the app or disrupting other users debugging the app running in the shared namespace. All users collaborating and sharing the namespace must select "Yes" to the isolate question when configuring Bridge to

[2020-09-28 19:53] philon-msft commented on #38
Also yes, typically .gitignore files exclude the whole .vscode directory. I see that's not always the case with the .gitignore files in our samples - we'll get those updated.

[2020-09-28 20:06] philon-msft commented on #37
Hi @trhumphries , developers just need Owner or Contributor access on the AKS cluster ("Kubernetes service") resource in the subscription.

[2020-09-28 20:07] amsoedal commented on #28
From the logs it looks like you're still on the 1.0.20200918.12 version -- if you go to the Bridge to Kubernetes extension in VS Code, do you see an update available? Thanks for the logs btw!

[2020-09-28 20:08] trhumphries commented on #38
Thanks!

[2020-09-28 20:08] #38 closed

[2020-09-28 20:09] trhumphries commented on #37
Thanks!

[2020-09-28 20:09] #37 closed

[2020-09-28 20:37] philon-msft commented on #15
We've updated our internal version of kubectl, which should fix this issue. Please let us know if you're still seeing problems.

[2020-09-28 20:37] #15 closed

[2020-09-28 20:49] lbicknese commented on #28
@amsoedal , may have spoken too soon. After stopping and restarting the debugging process it will no longer connect.

[bridge-library-2020-09-28-20-47-20-7756.txt](https://github.com/microsoft/mindaro/files/5294978/bridge-library-2020-09-28-20-47-20-7756.txt)
[bridge-mindarocli-2020-09-28-20-47-20-7756.txt](https://github.com/microsoft/mindaro/files/5294979/bridge-mindarocli-2020-09-28-20-47-20-77

[2020-09-28 21:12] amsoedal commented on #28
@lbicknese  thanks for reporting this! I'll look into it. Does it repro consistently? Also I've asked my colleague to respond to your other question, I think she'll follow up here shortly

[2020-09-28 21:35] lbicknese commented on #28
@amsoedal , I closed VS Code and tried again and it is working now. I removed the `isolateAs` property from my launch config and I now see requests being served by my local process.

I've been reading the documentation on the isolation functionality which relies on a subdomain. I am assuming that I would need to have an A record configured for the subdomain to route to my public IP if I wanted tha

[2020-09-28 21:35] #28 closed

[2020-09-29 10:29] catnip-se opened #39 "Fails to start debugging service deployed as StatefulSet, fails with error 'UnprocessableEntity'"
**Describe the bug**
When starting debugging using Bridge to Kubernetes on a service deployed as a StatefulSet, the session fails with the message

'Patch 'ns/service-0/service' to use
'mindora.azurecr.io/lpkremoteagent:0.1.4' faliled with error:
Operation returned an invalid status code
'UnprocessableEntity'

**To Reproduce**
Deploy a service as a StatefulSet and try to debug using Bridge to Kube

[2020-09-29 16:26] nsinitsin commented on #20
Hi @pragyamehta and @daniv-msft.
I think this is a best place to ask about error related with isolation mode is here.
I work with VS 2019. Without selected option "Isolate your local" it means by default all requests go through my local machine all works fine.

But when I choose option with isloation, I have an error in VS
![image](https://user-images.githubusercontent.com/12630094/94585781-6217f3

[2020-09-29 17:27] pragyamehta commented on #20
Hi @nsinitsin Thanks for reaching out! Yes, routing manager pod logs would be extremely helpful. Can you please send those over to my email pragme@microsoft.com and I will take a look.
You can retrieve the logs by running the below commands :

1. Retrieve the routing manager pod name
kubectl -n {namespace} get pods
2. Retrieve logs for the routing manager pod
kubectl -n {namespace} logs {routing m

[2020-09-29 17:39] pragyamehta commented on #28
@jstaf Thanks for providing the logs. It would be great if you could attach the logs from the routing manager running in your namespace. You can retrieve the logs by running the below commands :

1. Retrieve the routing manager pod name
kubectl -n {namespace} get pods
2. Retrieve logs for the routing manager pod
kubectl -n {namespace} logs {routing manager pod name from step 1} > routing-manager-l

[2020-09-29 18:22] amsoedal commented on #39
Hi @catnip-se , thanks for reporting this issue! I've logged a bug on our side for us to investigate.  Will update this thread when we get to the bottom of this.

[2020-09-29 18:51] trhumphries opened #40 "Ingress not duplicated and replicated Service doesn't have Annotations"
**Describe the bug**
According to https://docs.microsoft.com/en-us/visualstudio/containers/overview-bridge-to-kubernetes?view=vs-2019#diagnostics-and-logging my ingress should be duplicated and there should be annotations on the duplicated services routing.visualstudio.io/route-on-header neither of these is being generated. I'm also unsure as to what DNS name I should be using to access the cluste

[2020-09-29 21:47] pragyamehta commented on #40
Hi @trhumphries Thanks for reaching out! Are you using our VSCode or Visual studio experience?
If you are using our Visual Studio experience, there is a checkbox that needs to be checked called "Isolate your local version of your service from other developers". This will populate the dropdown with the DNS name that will be generated for you (your ingress name prefixed with a header). Once you sele

[2020-09-30 06:18] kdlee opened #41 "Bridge connection gets into a bad state"
This seems like a great tool with lots of increased productivity potential with more polish & stabilization.
So far I'm just running into a few minor annoyance issues.

**Describe the bug**
I seem to quite frequently get into a state where the bridge connection fails to work

**To Reproduce**
1. Use VS code to launch a local app that replaces a Kubernetes service
2. After exiting, use the option t

[2020-09-30 13:35] trhumphries commented on #40
I'm using VSCode on my Mac. I can bring up the Bridge to Kubernetes and show the diagnostics. however that's not showing me the dns name is should be using. can you be a bit more specific.

Maybe it has something todo with the Local DNS service is not running. in the diagnostics log

Local service IPs:
Local DNS service is not running.
Environment variables:
KUBERNETES_PORT_443_TCP_PROTO=TCP
KUBER

[2020-09-30 17:24] greenie-msft commented on #41
Hi @kdlee

Thank you for reporting this issue. I'm logging a bug on our side to investigate further.

Just to confirm the reproduction steps:

1. Connect to the cluster and replace a service
2. After debugging, end the debug session but keep the connection to the cluster live.
3. After the machine goes into a sleep state and the workstation is locked, unlocking and starting the debug session fails

[2020-09-30 17:37] pragyamehta commented on #40
Hi @trhumphries Now that I know you are on VS Code on mac, I can be more specific in guiding you :)
I apologize that the experience is not working for you as expected, but I am confident we will get you unblocked.
Can you provide the logs from '$TMPDIR/Bridge To Kubernetes' folder to investigate this further?
You can email them to me at pragme@microsoft.com if you'd like.
Thanks for your patience!

[2020-09-30 19:43] trhumphries commented on #40
I sent the logs file in a private email

[2020-09-30 21:25] amsoedal commented on #39
Hi @catnip-se, is this a Dev Spaces enabled cluster? We generally don't recommend using Bridge and Dev Spaces together. Let me know if getting rid of the controller or testing on a fresh cluster helps you get further.  I'm sorry if our documentation wasn't clear enough on this point, I've made a note to update it.

[2020-09-30 22:58] kdlee commented on #41
Hello @greenie-msft
I was just able to get a repro and attached the log files.

For the repro, step 3 may or may not be related.
I've tried making the machine lock, sleep, switch users, etc. and that didn't appear to repro.
But after some dev time it got in that state again, so it maybe more related to some kind of time out somewhere.

Thanks for looking into this.

[bridge-library-2020-09-30-19-4

[2020-10-01 16:26] greenie-msft commented on #41
Thanks for attaching your logs @kdlee. Our engineering team will investigate your issue and I will respond to the thread once I have an update to share.

Thanks,
Nick

[2020-10-01 17:34] pragyamehta commented on #40
Closing this thread as we got you unblocked over email. Thanks for reaching out!

[2020-10-01 17:34] #40 closed

[2020-10-01 17:47] pragyamehta commented on #41
Hi @kdlee Thanks for reaching out! While we are investigating this, I wanted to provide you with steps to unblock you.
1. In your VS Code window, please navigate to View -> Command palette -> Preferences: Open Settings (UI)
2. Under User -> Extensions -> Kubernetes Debugging tools -> please check the below checkbox
![image](https://user-images.githubusercontent.com/22248649/94844669-715f8400-03d3-

[2020-10-01 18:27] kdlee commented on #41
Thanks for the suggestion.
But wouldn't doing what you suggested just defeat the purpose of using that option in the first place?

Having shorter bridge sessions by disconnecting every time you exit a debug session and have the bridge containers get destroyed and recreated, I would imagine it's harder to repro. This rather feels likes a few missing error handling bugs in the bridge container or vs

[2020-10-01 19:23] pragyamehta commented on #41
@kdlee , yes, I hear you. We are still treating the issue as a bug on our side and we will be working on it. My suggestion for checking the option was just to make sure you have a workaround with minimal pain. (I would imagine deleting and recreating the kubernetes service may be a painful process for you each time)

I will update this thread once I have more information. Thanks for your patience!

[2020-10-02 06:33] catnip-se commented on #39
Hi, it used to be a Dev Spaces enabled cluster but we disabled it before running Bridge. We did not create a fresh cluster or redeploy the application. We will try that.

[2020-10-02 16:35] amsoedal commented on #39
@catnip-se Great, let us know if it works for you!

[2020-10-02 17:14] goelhardik opened #43 "Visual Studio Bridge to gateway service hangs in the BikeSharingApp sample"
**Describe the bug**
Visual Studio's `Bridge to Kubernetes` hangs on "Connecting to service ..." when trying to connect to `gateway` service in the `BikeSharingApp` sample.

**To Reproduce**
Open `samples/BikeSharingApp/Gateway/app.csproj` in Visual Studio and launch with the `Bridge to Kubernetes` profile.

**Expected behavior**
The VS instance should start a debugging session with the `gateway`

[2020-10-02 17:33] kdlee commented on #41
@pragyamehta, thanks for looking into it and your thoughts.
Fortunately, for now the service I'm replacing is a tiny service so having a script that quickly destroys & recreates (just takes a few seconds, plus extra few seconds to re-establish bridge) it about once every day or two when the bridge connection goes bad saves more time than killing the bridge connection per debug session.
But looking

[2020-10-02 18:43] pragyamehta commented on #41
Thank you for using the product and helping us improve it!

[2020-10-02 18:55] pragyamehta commented on #43
Hi @goelhardik  Thanks for reaching out to us! Can you please provide the logs from the below location:

For Windows: %TEMP%/Bridge to Kubernetes
For OSX/Linux: $TMPDIR/Bridge to Kubernetes

To answer your question, no, gateway should not need any additional configuration.

[2020-10-02 19:39] goelhardik commented on #43
Hi @pragyamehta Thanks for responding! Here are all the log files from that location.
I first successfully connected to `ReservationEngine` and then tried connecting to `Gateway` at which point VS just kept on  "Connecting to service ..." until I cancelled manually.

[bridge-library-2020-10-02-19-34-56-32264.txt](https://github.com/microsoft/mindaro/files/5319939/bridge-library-2020-10-02-19-34-56

[2020-10-02 19:47] pragyamehta commented on #43
@goelhardik Thanks for providing the logs. Let me take a look and get back to you.

[2020-10-02 21:15] pragyamehta commented on #43
Closing this thread since we got the customer unblocked offline and the issue went away on retry.

[2020-10-02 21:15] #43 closed

[2020-10-02 21:17] pragyamehta commented on #31
Hi @Nerzal In case you are hesitant to share the yaml here, feel free to send it over to my email - pragme@microsoft.com and we will take a look and get back to you. Thanks!

[2020-10-04 12:14] Nerzal commented on #31
I have send u a mail @pragyamehta

[2020-10-05 21:57] goelhardik commented on #34
@daniv-msft Does this also work with Visual Studio? If yes, is there some documentation on how to start debugging?

[2020-10-05 22:25] pragyamehta commented on #34
Hi @goelhardik Yes, we work with Visual Studio as well. Here's the documentation for that
https://docs.microsoft.com/en-us/visualstudio/containers/bridge-to-kubernetes?view=vs-2019

[2020-10-06 10:08] tvdvoorde commented on #35
I can confirm this issue and request. Having Bridge to Kubernetes also proxy outbound traffic from a local process back to the Kubernetes cluster would solve a big issues when developing solutions where backend services have access restrictions.

[2020-10-06 16:14] catnip-se commented on #39
Redeploying the application did not solve the problem. However, changing from StatefulSet to Deployment made it work. This workaround will be ok for us at the moment, even though we would like this to work for StatefulSets too.  We have not yet tested with a fresh cluster to see whether that completely solves the problem.

[2020-10-06 19:15] jmhill commented on #29
@greenie-msft  A few questions

1) Is there more information anywhere about the Linux support status/what scenarios are supported there? Tried the quickstart in both VS Code Remote WSL and VS Code Remote Container (devcontainer) and ran into problems when trying to use the new launch config (the task fails with "ClassName":"System.InvalidOperationException","Message":"Failed to run EndpointManager

[2020-10-06 21:01] amsoedal commented on #39
Hi @catnip-se, glad you were able to get unblocked. I've added supporting StatefulSets to our backlog!

[2020-10-06 21:36] muhammed-sumer opened #44 "On-premises kubernetes cluster"
Hi @greenie-msft and all team,

When can we start using it for other clusters(without aks) and also when will it be released Bridge-To-Kubernetes for other clusters?
<a href="https://code.visualstudio.com/docs/containers/bridge-to-kubernetes">Note Although this quickstart works with Azure Kubernetes Service (AKS), you can also try Bridge to Kubernetes with other Kubernetes clusters. Support for ot

[2020-10-06 22:05] pragyamehta commented on #44
Hi @muhammed-sumer , thanks for reaching out to us!
Can you please provide the logs from "%temp%\Bridge To Kubernetes" folder?

[2020-10-07 06:59] muhammed-sumer commented on #44
Hi @pragyamehta, I added the log files.  Thanks.

[bridge-mindarocli-2020-10-07-06-18-54-13848.txt](https://github.com/microsoft/mindaro/files/5338725/bridge-mindarocli-2020-10-07-06-18-54-13848.txt)
[bridge-mindarocli-2020-10-07-06-18-58-1644.txt](https://github.com/microsoft/mindaro/files/5338727/bridge-mindarocli-2020-10-07-06-18-58-1644.txt)
[bridge-library-2020-10-07-06-18-55-13848.txt](https

[2020-10-07 09:42] riker09 commented on #44
I've tried to debug the BikeSharingApp running inside a Docker for Desktop cluster. I can see that the redirectional pods are started, however, it fails with this error:

[code]

The image `lpkremoteagent:0.1.4` seems to be hosted on a private Azure Container Registry, is that correct? Shouldn't that be public?

[2020-10-07 11:31] jamyc opened #45 "No longer able to run Bridge to Kubernetes due to bridgetokubernetes.azurecr.io images requiring authentication"
**Describe the bug**
Suddenly not able to run Bridge to Kubernetes anymore due to `bridgetokubernetes.azurecr.io` images (lpkrestorationjob and lpkremoteagent) requiring authentication. This was working fine a few days ago.

k get pods
[code]

k describe pod bikes-778c6d986c-4fg5r
[code]

**To Reproduce**
Run the included `Launch via NPM with Kubernetes` launch configuration that is included in th

[2020-10-07 11:34] jamyc commented on #44
@riker09 Running into the same issue, this wasn't the case a few days ago. Created a separate issue #45 since this doesn't seem to be related to on-prem clusters.

[2020-10-07 12:04] riker09 commented on #45
Yup, this is exactly the same issue I'm getting. If you need additional information just give me a ping.

[2020-10-07 18:02] greenie-msft commented on #44
@riker09, @jamyc - The "Failed to pull image" issue has been resolved. Please let us know if you encounter any other problems.

@muhammed-sumer  - Thank you for providing your logs. The team is actively looking into the issue and will provide an update as soon as we have more information.

Thank you,
Nick

[2020-10-07 18:04] greenie-msft commented on #45
@riker09 , @jamyc  - Thank you for bringing this issue to our attention. We have released a fix for the "Failed to pull image" issue. Please let me know if you encounter any other problems.

Thank you.

[2020-10-07 18:06] #45 closed

[2020-10-07 18:58] riker09 commented on #44
Thank you for your quick response on this. I will check it out tomorrow. May I ask what has been changed?

[2020-10-07 19:17] pragyamehta commented on #44
@riker09  Our images reside in an azure container registry, and we had to update the ACR such that our customers could pull images from it successfully.

[2020-10-07 20:06] starkmsu opened #46 "Inifinite credentials prompt on initial configuration dialog"
VS 2019 (Version 16.7.5) is asking me to reneter my azure account credentials in infinite loop during initial configuration - subscription, etc.
I have access to multiple subscription and at least one of them has a running Kubernetes service.
What could be the issue here?

[2020-10-07 20:32] greenie-msft commented on #46
Hi @starkmsu,

I suspect the issue you are encountering stems from outside Bridge to Kubernetes. Bridge relies on the standard VS control for authentication.

A couple things to try to help troubleshoot:
- Restart Visual Studio
- Sign out and sign back into the account in VS

If the options above do not resolve the issue, can you attach your extension logs (%temp%\Microsoft.VisualStudio.Kubernetes

[2020-10-07 23:09] pragyamehta commented on #44
@muhammed-sumer We have released the fix for your issue. Please try again and let us know if you are unblocked now!

[2020-10-08 00:41] smithago opened #47 "Bridge is getting into a bad state"
**Describe the bug**
Using Visual Studio Bridge to Kubernetes extension.
I ran the "Bridge to Kubernetes" from VS.
It is in "connecting to "service" with cluster " windows for ever.

I also had infinite login, which I was able to mitigate by changing my default browser from chrome to edge.

**To Reproduce**
We have 2 web apps for the same service. Each configures slightly differently. When I tried

[2020-10-08 11:50] jamyc commented on #45
Can confirm that it's working again, thanks!

[2020-10-09 02:14] igsys commented on #29
I was following the docs, and went up to this step and start having trouble.  The following is what the doc describes in the Debug Menu.

[https://code.visualstudio.com/docs/containers/bridge-to-kubernetes](url)

![choose-bridge-to-kubernetes](https://user-images.githubusercontent.com/13977296/95534344-874af580-0a20-11eb-93e2-d975c0987681.png)

And this what I am actually getting.  I removed all t

[2020-10-09 19:59] jstaf commented on #28
Hey @pragyamehta sorry on the slowness (work has been a little crazy lately so I didn't have the chance to get back on this issue until now). Upon reproducing things from scratch again with the latest version of the "Bridge To Kubernetes" extension, everything works (both with and without using `isolateAs`). It looks like the fix from a week or so again did fix the issue - thanks! :slightly_smilin

[2020-10-11 21:11] xxthegonzxx opened #50 "Hostname Header Propogation with Azure App Gateway and BtK"
Hi,

I have an issue when I try to run Bridge to Kubernetes with isolation enabled. The BtK extension works great and set's up a clone of my Pod and all the services running in my "dev" namespace. It also sets up ingress clones with generated hostnames that point back to the original services running in my "dev" namespace.

The problem that I have is that I am using App Gateway Ingress Controller

[2020-10-12 04:09] greenie-msft commented on #47
Hi @smithago

Thank you for the details you have provided. I have created a work item for our team to investigate further. I will respond back to the thread as soon as we have an update to share.

[2020-10-12 17:00] pragyamehta commented on #29
Hi @igsys In the docs you have provided a link for, under this section [https://code.visualstudio.com/docs/containers/bridge-to-kubernetes#_connect-to-your-cluster-and-debug-a-service](Connect to your cluster and debug a service), there is a step
`Open mindaro/samples/BikeSharingApp/Bikes from the Bike Sharing sample application in Visual Studio Code.`
Once you do that, you should see the correct

[2020-10-13 14:19] trhumphries opened #51 "HTTPS support for isolation mode"
**Describe the bug**
When using https and isolation mode traffic is not routed to the local service being debugged

**To Reproduce**
Set your ingress to use https and config B2K to use isolation mode

[2020-10-13 18:22] clintsinger opened #52 "Sidecar support"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use Bridge To Kubernetes along with Dapr.

**Describe the solution you'd like**
Bridge to Kubernetes needs to support Pods that have Sidecars

**Describe alternatives you've considered**
Not using Bridge to Kubernetes could be an option but it is less awesome.

[2020-10-13 20:41] muhammed-sumer commented on #44
Hi @pragyamehta, That's great. It worked in local environment after the update. I will also try it on the internal kubernetes server. I will share my experiences with you again. Thank you..

[2020-10-13 21:42] daniv-msft commented on #44
Closing the issue. Thanks for reporting it!

[2020-10-13 21:42] #44 closed

[2020-10-14 00:09] greenie-msft commented on #51
Hi @trhumphries,

Thanks for opening this issue.

HTTPS with isolation is not currently supported in the current Bridge experience, but it's something we are tracking and hope to address in the near future. I'm happy to update the thread as soon as I have an update to share.

Thank you

[2020-10-14 00:41] greenie-msft commented on #52
Hi @clintsinger

Thank you for your request.

I do not have an official date for when this will be supported, but sidecar support is something we find valuable for compatibility with many different technologies. We're tracking this closely and I hope to have an update in the near future.

Thank you.

[2020-10-14 05:11] ChocoMachine opened #53 "Support for Windows Node placement?"
I'm not sure, and can't find this documented anywhere... Does Bridge to Kubernetes support windows nodes?

I am getting the following when trying to use with a windows container image.

Failed to pull image "bridgetokubernetes.azurecr.io/lpkrestorationjob:0.1.1": rpc error: code = Unknown desc = image operating system "linux" cannot be used on this platform

I can't seem to find anywhere to specif

[2020-10-14 06:05] pragyamehta commented on #53
Hi @ChocoMachine We do not support windows nodes as of today, but we do plan to support it in the near future. I am happy to update this thread once we start supporting this. Meanwhile, I would encourage you to try our product with linux containers.
Thanks!

[2020-10-14 15:25] daniv-msft commented on #29
@jmhill Thank you for contacting us.
1. As of today, we support full Linux machines, but not WSL/devcontainer. That said, these are on our radar (WSL especially) as other customers mentioned this already.
To help us prioritize this, could you please let us know if this is a blocker as of today for you? Is it possible for you to use a full Linux machine in the meantime (or Windows/Mac)?

2. Yes, I

[2020-10-14 16:52] jmhill commented on #29
Hey @daniv-msft thanks so much for getting back to me: for question 1, it's a blocker for us in the sense that VS Code + .devcontainer is our preferred development environment now - our company uses windows machines (and I tested BTK on the windows side and it seems to work great) but all of our new projects embrace containerized development environments. BTK looks (like AZDS connect looked) to be

[2020-10-14 18:48] pragyamehta commented on #50
Hi @xxthegonzxx Thanks for trying out Bridge to Kubernetes and reporting this issue. You are right, as of today, we do not support this annotation properly. But you can still hit your breakpoints by sending a request to the original ingress URL and setting the header - "kubernetes-route-as": "routeAs-header-value". The routeAs-header-value is the value generated specifically for you when you confi

[2020-10-14 23:41] #53 closed

[2020-10-15 01:21] xxthegonzxx commented on #50
Thanks for the quick reply @pragyamehta! Can you give a little more guidance with how to set the header? Do you mean literally in the browser to set the header in the request? This might work with some of our API's but I don't think it will work with our front-end applications. My concern here is that it does not scale well. Especially since we have several developers and we will have to hardcode

[2020-10-15 04:38] pragyamehta commented on #50
Hi @xxthegonzxx , I apologize for the confusion, you do **not** need to hard code the value of the header. That would indeed be non-scalable.
Each of the microservices need to read the "kubernetes-route-as" header on the incoming request and set this header with its incoming value on the outgoing response. This ensures that whatever the value was set to with the incoming request gets forwarded thr

[2020-10-15 04:51] pragyamehta commented on #50
An example of propogating the header is in our sample of BikesharingApp - in this file [HttpClientExtensions.cs](https://github.com/microsoft/mindaro/blob/master/samples/BikeSharingApp/Gateway/HttpClientExtensions.cs)

[2020-10-16 01:49] daniv-msft commented on #29
Thank you @jmhill for your reply!
Looking more into the devcontainer scenario, I don't see any fundamental blocker that would prevent us from running into this scenario. Looking at the error you received above, I suspect this is just an issue when we determine the path of our binaries. While we didn't spend enough time investigating this scenario, I would like to determine if I can unblock you and

[2020-10-16 15:24] irperez commented on #26
We're running into this now as we just integrated AAD authentication.

This is now a chore for our devs to work around, especially if they don't know K8s well. Just a nudge to get a better flow here 👍

Loving LPK!

[2020-10-16 15:37] irperez opened #54 "LPK Crashes after working with AAD integrated K8s"
**Describe the bug**
Recently we got K8s integrated with AAD authentication with our organization, which does utilize two-factor authentication.  We followed the work around instructions to get by and at first this worked just fine.  However the next day I'm seeing a vague error now.  "The process has exited."
![image](https://user-images.githubusercontent.com/1376080/96277709-a0b0ec00-0fa2-11eb-8

[2020-10-16 15:57] irperez commented on #54
After restarting my machine, I was able to proceed.  I'll update if I run into this again.

[2020-10-16 18:26] daniv-msft commented on #26
Thank you @irperez! Yes, this issue is tricky on our side, as the final solution we consider has a lot of implications for us.
However it might be possible to help with the experience in product without going down the path of reimplementing kubectl.

[2020-10-16 18:29] daniv-msft commented on #54
Thank you for reporting this issue. Looking at the logs you provided, this is due to an exception in our EndpointManager component:
[code]

We've seen this once or twice in the past, but investigating it is uneasy as this is transient. If you find any way to reproduce it, please let us know so that we can try to get more data on what might go wrong.

[2020-10-16 19:26] simyco opened #55 "504 gateway timeout for long requests"
**Describe the bug**
When launching long/debuggable requests from frontend to backend(running bridge to kubernetes), these requests go suddenly in timeout and looking at network in chrome devtool i see a 504 status code.

I run the api behind a nginx ingress with this settings:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "14400"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "14400"

[2020-10-16 19:28] irperez commented on #54
The only thing I can add that happened was that the previous day I was able to debug just fine.  But then I put my computer to sleep.  The next day after waking the PC up it would not debug.  Rebooting seem to reset the issue.

[2020-10-16 19:31] irperez commented on #26
It would be ideal to just use the same kubectl config that I use from the kubectl command.  Although I could see how that could cause conflicts in some situations.  Making this an option that I can set in VStudio might be easier for our devs to navigate.  Having them work with two .kubeconfig was not obvious at all.  Just throwing some ideas out there.

[2020-10-16 20:37] cwoolum opened #56 "Unable to use with cluster that has AAD Auth enabled"
**Describe the bug**
When trying to create a profile for Bridge to Kubernetes, and error is shown while loading namespaces.

**To Reproduce**
Steps to follow to reproduce this issue.

1. Open an existing project
2. Attempt to run Bridge to Kubernetes
3. Select the subscription and kubernetes cluster.

**Expected behavior**
I would expect namespaces to be loaded correctly.

**Logs**
Attach logs fro

[2020-10-16 21:36] danegsta commented on #26
@daniv-msft that's pretty much our current estimated timeline. I'll provide an update here once support for using clusters in the local kube config goes live in the Visual Studio extension.

[2020-10-17 00:01] pragyamehta commented on #56
Hi @cwoolum This is a known issue - please take a look at https://github.com/microsoft/mindaro/issues/26
We are working on this currently and will update once we release a fix. Thanks!

[2020-10-18 22:53] allensiho opened #57 "Namespaces do not list"
**Describe the bug**
Namespaces does not list when using bridge to kubernetes.

I get the below error saying

![image](https://user-images.githubusercontent.com/6521561/96387864-f7136a00-11f0-11eb-8940-9df810a4a708.png)

cluserter_user*** does not have ...aprropriate auth credentials in kubeconfig

When I switch to that cluster locally which uses that user I can run kubectl commands and see namesp

[2020-10-19 08:15] arbielsk opened #58 "Kubernetes RBAC policy recommendations"
**Is your feature request related to a problem? Please describe.**
While we are only planning to use Bridge-To-Kubernetes on our DEV cluster, we still like to make sure that we give everyone involved only the minimal necessary rights. In order to do that we'd like to know what the minimum rights needed to use Bridge-To-Kubernetes are.

**Describe the solution you'd like**
I'd love to have a simple

[2020-10-19 17:08] pragyamehta commented on #57
Hi @allensiho Thanks for opening the issue. Are you a Contributor/Owner on the cluster?
Can you please provide the logs from the below directories:
%temp%\Microsoft.VisualStudio.Kubernetes.Debugging
"%temp%\Bridge To Kubernetes"

[2020-10-19 17:31] daniv-msft commented on #57
@allensiho @pragyamehta This looks a lot like https://github.com/microsoft/mindaro/issues/26.
@allensiho Could you please try the mitigations offered there?

[2020-10-19 18:14] daniv-msft commented on #55
Thank you @simyco for reporting this issue, and sorry you encounter it.
Looking at the logs you provided, I can see that something went wrong but the error we get from .NET is very vague (`System.IO.IOException: Unable to read data from the transport connection: Operation canceled`). This would need more investigation on our side.

To help me understand the scenario better, could you please answer

[2020-10-19 19:28] simyco commented on #55
Hello @daniv-msft thanks for your reply and your help :)
Here my answers:

- Yes, for short requests it works like a charm. It works also if i tune the request with this errorand i reduce the response
- no, the request that goes in error takes max 1 minute, online it works very good indeed(14400 seconds are just for test)
- Transient but it’s very rare that works good

If you need any other inform

[2020-10-19 20:44] allensiho commented on #57
@pragyamehta I dont see any logs. They dont exist for whatever reason

@daniv-msft sure they seem related. How do you migrate? According to that ticket a fix will be done in one and a half month? Thanks

[2020-10-19 21:34] daniv-msft commented on #57
The change planned in 1/1.5 month is not going to be a complete fix of this issue (which is tricky to fix), but a change making the workaround a bit simpler.
Here are the instructions to unblock you:

Please let us know if you encounter any other issues.

[2020-10-19 23:48] greenie-msft commented on #58
Hi @arbielsk

Thank you for the feature recommendation. I will discuss your suggestion with the larger team and update the thread accordingly.

In the meantime, we are in the process of publishing the minimum permissions needed to use Bridge to Kubernetes in our documentation. I will update this thread once the docs go live. Thank you.

[2020-10-20 05:19] arbielsk commented on #58
Thank you for your reply, @greenie-msft !

We really appreciate your hard work and the awesome developer experience that you are creating with this product!

[2020-10-21 01:14] daniv-msft commented on #55
@simyco Thank you for your reply and these clarifications!
This will need further investigation on our side, and I'm logging a bug so that we can track this.

Could you please let me know if the workaround you mention (tuning the request to reduce the response) is acceptable while we investigate this? Realistically, it will take a couple of days before we get to this one.

[2020-10-21 12:07] arbielsk opened #62 "Do not require access to port 80 on Windows"
**Is your feature request related to a problem? Please describe.**
We are currently exploring Bridge To Kubernetes for our dev team which are both Mac and Windows users.
Mac users are having a blast as everything is working out of the box.
On Windows we do have an enterprise policy which is being enforced and reserves port 80 for a Windows 10 Service (BranchCache). Since Bridge-To-Kubernetes curre

[2020-10-21 15:38] tvvignesh commented on #29
Hi. Great to see this. The sidecar support would be the most important thing in my point of view. I use the cluster with Linkerd service mesh which is going to inject a lot of sidecars. Supporting Bridge to Kubernetes with Sidecars would be awesome.

Tracked here: https://github.com/microsoft/mindaro/issues/52

Currently, I guess, I am going to have to disable all sidecars in dev cluster now.

[2020-10-21 16:51] pragyamehta commented on #62
Hi @arbielsk, the reason we ask for port 80 access is because your app is configured such that it needs port 80 to run locally on your machine. If you are uncomfortable with freeing up port 80 on your machine, I would suggest making a change in your microservice application to run on a different port than 80 locally and also please configure Bridge to Kubernetes with this port as well. Once you do

[2020-10-21 17:00] pragyamehta commented on #62
You can refer to this sample microservice that runs on port 3000 locally, but port 80 in Kubernetes.
https://github.com/microsoft/mindaro/blob/master/samples/BikeSharingApp/Bikes/server.js

[2020-10-21 17:49] tvvignesh opened #63 "Challenges with Bridge to Kubernetes"
Hi. I wanted to try Bridge to Kubernetes and I am really interested in it since it solves some of my major challenges but I am facing a few issues. Thought of consolidating them to one issue here. Requesting your prioritization.

1. **Unable to use with Remote SSH**

If I try to install in Remote SSH (Ubuntu 20.04 remote), the remote ssh connection disconnects again and again repeatedly. It works

[2020-10-21 18:18] daniv-msft commented on #29
Thank you @tvvignesh for giving a try to Bridge and this feedback! Yes, the two items you mention are important for us, and are high in our backlog. I'll make sure we update the issues you linked when we have more update on these.

[2020-10-21 18:32] tvvignesh commented on #29
@daniv-msft Hi. Thanks for your quick reply. I am really eager to try this but am actually facing more issues than actually mentioned here. I have documented it all here: https://github.com/microsoft/mindaro/issues/63

Hope its prioritized sometime. Thanks for your effort.

[2020-10-21 18:40] daniv-msft commented on #29
@tvvignesh Thanks, we'll reply on the other issue you created to provide more info there. Thank you for this very complete status!

[2020-10-21 19:35] jmhill commented on #29
@daniv-msft just closing the loop on our exchange above; I emailed the requested log files (copied out of the devcontainer that was failing) to the email address you provided. Thanks again for your help.

[2020-10-21 21:47] aslatter commented on #63
I'm able to reproduce this on Windows 10 using "Remote SSH" to connect to an Ubuntu VM.

After installing the "Bridge To Kubernetes" VS Code extension everything was fine for a while, but as soon as the "Updating dependencies" status-message hit 100% VS Code Remoting disconnected and then was only ever to remain connected for short periods before disconnecting and reconnecting again.

[2020-10-22 03:15] pragyamehta commented on #51
Hi @trhumphries We are looking at adding https support to isolated scenarios at this time and would love to chat with you regarding what solution you use for setting up certificates for https - do you use self-managed certs or an ACME solution like cert-manager with letsencrypt? Would love to hear about your setup - please feel free to email me at pragme@microsoft.com.
This will help prioritize an

[2020-10-22 05:36] arbielsk commented on #62
Hi @pragyamehta!

Thank you very much for your reply, and please excuse my late response due to time zone differences.

I believe the information I provided in my initial request was not sufficient to describe the problem properly and to allow for a valid conclusion to my issue.

I had already investigated if anything in my setup was using port 80 beforehand and that is not the case. Please find a

[2020-10-22 19:04] dahovey opened #64 "Error listing namespaces in Visual Studio"
**Describe the bug**
When trying to create profile within Visual Studio no namespaces are listed and an red X is shown to right of namespace dropdown, with the tooltip "No Kubernetes cluster found. Please check your kubeconfig."

![image](https://user-images.githubusercontent.com/22330242/96917486-d00da000-145d-11eb-8d60-d268ad891493.png)

**To Reproduce**
I created brand new AKS Cluster, verison

[2020-10-22 23:57] pragyamehta commented on #62
Hi @arbielsk , thanks for reaching out to provide more information here!
I think I have a better understanding of the issue now, I have logged a bug on our side and we will roll out the fix in the next release. Thanks for reporting this issue!

[2020-10-23 00:01] lolodi commented on #31
Hi @Nerzal, this got fixed in our latest release.
The bits are already available with the latest VSCode extension version and they are going to be available in VS with the next release.

[2020-10-23 06:48] allensiho commented on #57
@daniv-msft I couldnot get this working following the above steps.

Instead what I did was copy the cluster credentials from my
C:\Users\<username>\.kube\config file
and copied pasted the
 client-certificate-data:
 client-key-data:
 token:
for that corresponding user.

I beleive I have gottent the credentials in the past running
az aks get-credentials ...

However I am getting

![image](https://us

[2020-10-23 10:24] arbielsk commented on #62
@pragyamehta thank you so much for your feedback.

**I have sent the requested logs to the mentioned email address as requested - if it has not arrived please let me know!**

Our team is really appreciates how responsive and helpful you and your colleagues are when it comes to this product! We are absolutely stoked to see a fix in the next release as this will unblock our devs on Windows and allow

[2020-10-23 11:25] Sharmanand commented on #64
Facing same issue

[2020-10-23 11:47] Sharmanand commented on #64
Tried issue#57 resolution and able to list namespace. https://github.com/microsoft/mindaro/issues/57

[2020-10-23 11:55] sfernandez opened #65 "Run task "Launch X with kubernetes" does not appear"
vscode version:  1.50.1
plugin version: v1.0.120201021

Bridge to kubernetes vscode extension detects both the cluster and the selected namespace.

But when trying to run the application with the task "Launch X with kubernetes" does not exist, nor exist documentation for writing a custom launch.json.

[2020-10-23 15:58] pragyamehta commented on #64
@Sharmanand  thanks for trying the workaround - happy to know it works for you!
@dahovey Please try the workaround here #26  and let us know if it works for you.

[2020-10-23 16:54] pragyamehta commented on #65
Hi @sfernandez , Just to get more information here - Are you using one of our samples or your own project?
In case you are using one of our samples, if you open the specific microservice you want to debug, you will find a launch.json in the project under .vscode folder. You will also have both "Launch X" and "Launch X with kubernetes" profiles in your debug profile dropdown window, since we have c

[2020-10-23 20:31] dahovey commented on #64
In my case I realized I had:

1. Tried using Bridge to Kubernetes on cluster that still had Azure Dev Spaces enabled.
2. Deleted k8s cluster.
3. Re-created k8s cluster with the same name.
4. Tried using Bridge to Kubernetes with new k8s cluster under the same name.

I just went ahead and deleted the cache folder in `%LOCALAPPDATA%\BridgeToKubernetes`. Then it started working as expected. From what

[2020-10-23 20:36] pragyamehta commented on #64
Great, thanks for getting back to us. Closing this issue.

[2020-10-23 20:36] #64 closed

[2020-10-23 21:01] daniv-msft commented on #55
Another parallel question @simyco: could you please let me know if your application relies on gRPC at some point? We received a similar report for a gRPC app, and I'm curious to know if these are related.

[2020-10-23 21:01] daniv-msft commented on #55
I didn't intend to close: just clicked the wrong button. :)

[2020-10-24 01:11] daniv-msft commented on #57
@allensiho Thank you for these logs, that really helped.
We fixed the null reference you encountered a couple of days ago, but it's not available in Visual Studio yet.

@danegsta Could you please let us know when you expect your team will release a new version of the Visual Studio extension?

In the meantime, looking at the fix we created, you should be able to bypass this issue by making sure tha

[2020-10-24 01:40] daniv-msft commented on #63
Thank you @tvvignesh for this very complete status!
We really appreciate you taking the time to report all this.

1. **Unable to use with Remote SSH**

We know Remote SSH is important for multiple users, and supporting this is high in our backlog. Unfortunately I don't have a good workaround to offer (apart from using a full Windows/Mac/Linux machine), but this is definitely an important feature f

[2020-10-24 01:52] daniv-msft commented on #29
Thank you @jmhill! We're investigating your logs and will provide more details on the email you sent us.

[2020-10-24 07:13] tvvignesh commented on #63
Looking forward to it. Once all these challenges are solved, I can move my workflow completely to this extension on a remote cluster and that would be awesome.

[2020-10-24 09:12] simyco commented on #55
no

no worry :)

with the workaround yes, sometimes from a pc it creates two jobs for the same subdomain (and so goes in conflict and block everything) but deleting both the jobs solves the issue (but this is another thing :) )

we are not using grpc for now

[2020-10-26 16:59] pragyamehta commented on #62
Hi @arbielsk We will be releasing the fix at the end of this week or early next week.
We have received the logs for the other error from you and are investigating. Thanks!

[2020-10-26 17:54] thalesfsp opened #67 "Is possible to use another cloud provider?"
Need to use Azure or Google Cloud/AWS is supported for the PR integration?

[2020-10-27 03:10] greenie-msft commented on #67
Hi @thalesfsp

Thank you for your question. The PR Flow can be used on any Kubernetes, not just AKS.

Our examples are for Azure, but you can author a GitHub workflow or DevOps pipeline that does:
- Builds an image that includes the PR code changes
- Pushes that image to a image repository
- Deploys that image as a new release in your application namespace
- Applies the appropriate Bridge routing

[2020-10-27 15:19] irperez commented on #57
We hit this null reference error bug quite a bit.  Looking forward to this getting released.

[2020-10-27 19:04] pragyamehta commented on #57
@irperez  Can you try the below workaround:
The pod that you are trying to debug - can you add containerPortNames to all ports that are exposed from this pod? Once you deploy this change, please try Bridge to Kubernetes and let us know if this unblocks you.

[2020-10-27 19:06] daniv-msft commented on #57
Thanks @pragyamehta! Also, FYI @irperez, the Visual Studio update containing this fix will be released next week.

[2020-10-28 22:26] daniv-msft commented on #55
Thank you @simyco for the extra information! We're tracking this bug on our side, and we'll let you know when we have a fix for it.

[2020-10-29 07:26] maras28 opened #69 "Kubectl process lingers after VS Code is closed and has a handle on the opened folder"
**Describe the bug**
I cannot delete a folder I opened and worked with in VS Code because kubectl has an handle on. kubectl process lingers on after I close VS Code and each time I do this, the number of kubectl processes running increases. It seems kubectl process is not being left over. I am using Windows 10.

**To Reproduce**
Steps to follow to reproduce this issue.
1. Create a folder someplace

[2020-10-29 14:44] catsgotmytongue opened #70 "visual studio dialog finds no subscriptions when using an AzureUSGovernment account to find aks clusters."
When using bridge to kubernetes connection dialog in visual studio no subscriptions show in the dropdown when trying to use an AzureUSGovernment account.

The problem seems to be caused by the wrong API being used to communicate with azure to get subscriptions.
Inspecting this problem with fiddler showed me it was using a get request to https://management.azure.com/subscriptions?api-version=2016-0

[2020-10-29 18:09] sgandon opened #71 "launch in VSCode fails with "Failed to get elevation requests.""
**Describe the bug**
I am trying to run the bridge on VSCode on my mac with a Go app that is deployed in a local cluster (k3d).
I had to create a service to the pod because the pod does not require one, it is an autonomous slack bot.
When launching the app I have the following error in the terminal
[code]
Digging into the logs I have the following logs in the `bridge-library-2020-10-29-17-54-35-58

[2020-10-29 19:02] daniv-msft commented on #70
Thank you @catsgotmytongue for reporting this issue.
Adding @danegsta to the issue, as he knows more about the authentication API we use in Visual Studio.

In order to unblock you in the meantime, if you have a local kubeconfig for this cluster and can communicate with it through kubectl, please consider using the [VS Code extension](https://marketplace.visualstudio.com/items?itemName=mindaro.mind

[2020-10-29 19:12] danegsta commented on #70
Thanks for reporting this @catsgotmytongue; we're working on verifying a fix that would go out with the next release of the VS extension (currently targeting early next week).

[2020-10-29 22:45] catsgotmytongue commented on #70
Thanks for the quick response.

I was scratching my head at why it wasn't working until I took the time to look at fiddler logs and realized it was using the wrong api.

[2020-10-30 00:04] greenie-msft commented on #71
Hi @sgandon

Thank you for reporting this issue. I'm logging a work-item for our engineering team to investigate. I will post back to thread as soon as we have an update to share.

Thank you.

[2020-10-30 00:36] amsoedal commented on #69
Hi @maras28, thanks so much for reporting this issue. I'm logging a bug for us to investigate this further.  We'll update this thread as soon as we get to the root cause.

[2020-10-30 12:43] A-S-Blom commented on #35
+1 I can also confirm the issue and feature request. It's also a problem to access services on other namespaces in the k8s cluster.

[2020-10-30 20:49] amsoedal commented on #71
@sgandon, could you please send us the full log-file? You can email it to me at ansoedal@microsoft.com if you feel most comfortable that way.
Thanks!

[2020-10-31 01:15] daniv-msft commented on #35
Thanks @tvdvoorde and @A-S-Blom. This issue is tricky, because intercepting all traffic isn't straightforward on all OS and we want a solution that works across Windows, Mac and Linux. We're investigating a potential solution, but this has multiple repercussions that we need to understand/evaluate.

Our approach so far is to ask the developers to declare the dependencies they want to use locally i

[2020-10-31 01:58] daniv-msft commented on #69
Thank you @maras28 for reporting this issue. I can confirm I'm able to reproduce the behavior you see where the current folder cannot be deleted when the extension is installed.

However, in my case, this doesn't seem related to kubectl as I reproduce this without the corresponding logic. Also, looking at the handles blocked in the Resource Monitor, I can only see that `code` (so VS Code) is block

[2020-10-31 12:04] maras28 commented on #69
I also use the Resource Monitor. I just did the steps above twice in two different VS Code instances and I have two kubectl processes with a handle to the folder I tried.
![VCode Kubectl Folder Lock](https://user-images.githubusercontent.com/1925572/97778748-4e6af000-1b8a-11eb-8a2e-df28c7db8ef9.png)

[2020-11-02 13:01] sgandon commented on #71
@amsoedal I am not sure what king of other log I can provide, I only found 2 kind of files in the log folder and they are both (bridge-mindarocli.txt and bridge-library.xxxx.txt) displayed fully in the issue description.
I will zip the complete folder and send it to you.

[2020-11-02 13:55] idealist1508 opened #72 "Any plants to support a .Net Framework?"
**Is your feature request related to a problem? Please describe.**
Our application runs on .Net Framework 4.7 in AKS and we are looking for a possibility to debug it in cluster.

[2020-11-02 17:55] greenie-msft commented on #72
Hi @idealist1508,

Yes, we have plans to support Windows containers which will enable .Net Framework applications to use Bridge to Kubernetes.

This is a high priority item on our backlog and we hope to address it in the upcoming months. I will make an announcement on our GitHub issues page once this work has been completed.

Thank you.

[2020-11-02 20:32] iSeiryu commented on #67
https://github.com/microsoft/mindaro/projects/1#card-40812958
Looks like other cloud providers are being added right now?

[2020-11-02 20:47] daniv-msft commented on #67
@iSeiryu Other cloud providers (AWS' EKS, Google Cloud's GKE, etc.) or even local Kubernetes (minikube) are already available in Bridge to Kubernetes.
However we support non-AKS clusters as preview for now, so please let us know in case you encounter any errors so that we can fix them.

The scenario mentioned by @thalesfsp was in regards to the PR Flow, which is a specific use of Bridge to Kuberne

[2020-11-03 16:48] irperez commented on #26
We can no longer wait for the extension to get updated.  This bug hit us so hard that we decided to pull AAD Auth from the dev cluster and do a full rebuild.  The work around works temporarily.  After a while it times out and the developers get into a bad state with kubectl where they can no longer access the cluster.

[2020-11-03 19:57] morganlaneap opened #73 "Always querying 'default' namespace"
Hi there, I am trying to use B2K with a cluster where RBAC is in place and I do not have access to the `default` namespace. I have configured vscode to use the namespace I want, in this case, `namespace-a`, and my service I am interested in is also in `namespace-a`. It appears from the logs that it is still querying the service list in `default`.

[code]

Is this expected behaviour?

[2020-11-03 20:59] daniv-msft commented on #26
@irperez Sorry this bug is making your life harder. :( We're making good progress on reconciling the kubeconfig context into the main kubeconfig, but we're not ready to ship it yet.

However what you say about the work around working only temporarily concerns me. Could you please provide more information about the bad state with kubectl you're mentioning?
What is the status at this point: does kub

[2020-11-03 21:17] morganlaneap opened #74 "Support for managed identity"
Feature request.

If not already in place, can B2K support managed identity? I am running it on a cluster that uses it, and my applications just fail as it can't seem to used MI. I may just be missing something.

[2020-11-03 21:27] irperez commented on #26
@daniv-msft I'm not totally sure what happened. But we did follow the work around by creating the environment variable.  That worked for several weeks.  It seems though that the token timed out.  Not sure.  Within the same week, 3 developers ran into a wall where kubectl was no longer able to authenticate.  We had to wipe out the KUBECONFIG environment variable.  And that restored kubectl, but bro

[2020-11-03 23:16] pragyamehta commented on #74
Hi @morganlaneap As of today, we do not support managed identity, but this is something we are planning to enable in the near future. Thanks for letting us know that this is important to you! I can update you once it becomes available, meanwhile do feel free to try Bridge to Kubernetes without managed identity.

[2020-11-03 23:18] pragyamehta commented on #73
Hi @morganlaneap Thanks for reporting this issue. We have fixed this issue in our codebase and will be rolling it out soon (in the coming weeks). I will update you once it has been released. Thanks!

[2020-11-04 00:26] daniv-msft commented on #26
Thanks @irperez for providing more information. I agree that if 3 developers ran into the same issue the same week, this sounds like either expiring tokens, or a change in AAD configuration that would have invalidated the existing credentials.

By any chance, would the developer in your team still have some data about this issue (error returned by kubectl, for example)? If kubectl was no longer ab

[2020-11-04 09:02] wely opened #75 "Generic version of bridge-quickstart.sh?"
Hi folks,

According to the doc https://docs.microsoft.com/en-us/visualstudio/containers/bridge-to-kubernetes?view=vs-2019, bridge-quickstart.sh needs to be executed during the configuration.

When i browse the file https://github.com/microsoft/mindaro/blob/master/bridge-quickstart.sh, it seems like tightly coupled with the sample app (bikesharingapp).

Question, what should we do if we'd like to

[2020-11-04 13:46] wely commented on #75
Or another way to ask this question is:
What are the steps to use Bridge to Kubernetes on an existing project?

[2020-11-04 17:45] amsoedal commented on #75
Hi @wely, thanks for your question!
The bridge-quickstart.sh script is indeed only intended for deploying the Bikesharing sample app.  Bridge can be used on your own custom application, but you would need to have it already deployed to your cluster by some other means.  Then you can follow the docs picking up from this section: https://docs.microsoft.com/en-us/visualstudio/containers/bridge-to-kub

[2020-11-04 22:39] greggbjensen opened #76 "Support for custom domains in isolation mode"
## Feature
In Azure DevSpaces, we can customize the domain generation for spaces.  For example:

[code]

Currently, Bridge to Kubernetes requires the first sub-domain in the full domain name as the space name.  This doesn't work for our uses cases, since our first sub-domain is an organization URL token we use to access the correct organization database.

## Suggested Solution
Add a domain templat

[2020-11-04 22:57] greggbjensen opened #77 "Using the same domain in multiple ingress definitions breaks isolation mode"
## Bug
When you define two different ingresses that use the same domain but with different paths, isolation mode fails to start.

![image](https://user-images.githubusercontent.com/1800213/98175871-a9ffeb00-1eb4-11eb-9131-406e4b8e879d.png)

Watcher log
[code]

## To Reproduce
1. Create an ingress YAML file for a domain with a path that points to a service
2. Create a second ingress YAML file with

[2020-11-05 02:19] wely commented on #75
@amsoedal , thanks for getting back to me.

Just to verify about [link you sent me](https://docs.microsoft.com/en-us/visualstudio/containers/bridge-to-kubernetes?view=vs-2019#connect-to-your-cluster-and-debug-a-service), do we still need to execute the bridge-quickstart.sh or can we just ignore it?
![image](https://user-images.githubusercontent.com/1658657/98188584-37dbe480-1f4e-11eb-9783-1a86d800

[2020-11-05 02:39] daniv-msft commented on #75
Thanks for following up @wely. I confirm you do not need to run bridge-quickstart.sh.
This script is only used to deploy our sample application. As you want to use your own application, you don't need to run this script for your cluster.

Regarding the errors that you see:
- Could you please confirm that you have some Ingress available in your application? This is not a requirement for Bridge to K

[2020-11-05 03:04] wely commented on #75
thanks @daniv-msft , sent you an email.

[2020-11-05 18:37] pragyamehta commented on #77
Hi @greggbjensen Thanks for reaching out with this issue! It would be great if you could attach the logs from the routing manager running in your namespace. You can retrieve the logs by running the below commands :

Retrieve the routing manager pod name
kubectl -n {namespace} get pods
Retrieve logs for the routing manager pod
kubectl -n {namespace} logs {routing manager pod name from step 1} > rou

[2020-11-06 23:26] catsgotmytongue commented on #70
Any word on this ? I'm guessing that the release was pushed out further ?

[2020-11-06 23:40] danegsta commented on #70
We ended up finding a bug during our test passes that needed to be fixed before we released; we've got a release candidate now that we're planning on pushing to the marketplace this coming Monday (11/9).

[2020-11-06 23:48] catsgotmytongue commented on #70
cool. Thanks for your work and quick responses !

[2020-11-09 15:04] davejhahn commented on #56
@pragyamehta any update on this?  I am getting alerts that dev spaces is not going to be re-creatable after 11/15 to change to Bridge to Kubernetes.  If we need to rebuild our cluster, that leaves us with no ability to do development.

[2020-11-09 15:32] JasonWhall opened #78 "Long Service Names breaks Isolated routing"
**Describe the bug**
If you have existing services with names close to the default limit, the cloned service will then exceed this limit causing it to fail.

For example if I have a service named: `my-amazing-service-name-called-service-1-20201109-testing` and then use Bridge to Kubernetes to create a clone service to proxy, bridge to kubernetes extension returns an error
[code]

Looking at the ro

[2020-11-09 17:03] davejhahn commented on #26
I'm not able to get this to work, not sure what the problem is... We are using integrated AAD, so went through the approach described by @danegsta and was able to get past the problem with namespaces not loading.

Running in isolation mode , VS run as admin, confirmed it says "Admin" in upper right of Visual Studio, and when running "Bridge to Kubernetes" it prompts me with "Elevation Required", I

[2020-11-09 17:44] davejhahn commented on #26
On a side note, does anyone know the actual retirement date of Azure Dev Spaces?  It says October 2023 https://docs.microsoft.com/en-us/azure/dev-spaces/migrate-to-bridge-to-kubernetes but we started getting notifications in Visual Studio that it will no longer be supported November 15th, 2021.

[2020-11-09 17:47] pragyamehta commented on #56
Hi @cwoolum Did the workaround mentioned in #26 work for you? If not, let us know if you are facing any issues. Thanks!

[2020-11-09 17:54] cwoolum commented on #56
It did, it's a bit tedious but gets the job done!

[2020-11-09 18:50] danegsta commented on #70
Build 1.3.20201106.1 was just pushed to the marketplace with support for sovereign cloud accounts.

[2020-11-09 19:15] catsgotmytongue commented on #70
Thank you,

I'll give this a try as soon as I can.

[2020-11-09 19:45] daniv-msft commented on #26
@davejhahn Indeed, as of today using Bridge with AGIC requires more steps (sending the HTTP header manually). You can read more here: https://github.com/microsoft/mindaro/issues/50

However, I suspect that you're encountering a different issue before that, because the AGIC issue doesn't correspond with the error message you mention (`Failed to get routing manager deployment status`).
Would it be p

[2020-11-09 21:01] daniv-msft commented on #78
Thanks @JasonWhall for reporting this issue, and sorry you encounter it. This looks like a regression, as we already encountered this issue and fixed it ~2-3 months ago by truncating the service name, as you suggest.

@rakeshvanga Could you please confirm that this looks like the same issue we fixed a couple of months ago?

[2020-11-09 21:10] daniv-msft commented on #26
If it helps, here is how to retrieve the routing manager logs:
1. Retrieve the routing manager pod name
2. kubectl -n {namespace} get pods
3. Retrieve logs for the routing manager pod
4. kubectl -n {namespace} logs {routing manager pod name from step 1} > routing-manager-logs.txt

[2020-11-09 21:12] catsgotmytongue commented on #70
so I tried out this updated version with my AKS cluster and now I think I'm seeing a different issue because it thinks my cluster is not an aks cluster:
![image](https://user-images.githubusercontent.com/506072/98596989-26b41000-228d-11eb-8fba-93ce219f882c.png)

[2020-11-09 21:18] daniv-msft commented on #76
Thanks @greggbjensen for logging this issue.
You should be able to bypass this problem by setting directly the `kubernetes-route-as` HTTP header expected by Bridge to Kubernetes when accessing your URL: the subdomain that we create is just a convenient way to populate the `kubernetes-route-as` HTTP header, but you can also set it directly through tools such as Postman, Fiddler, or even using a bro

[2020-11-09 22:06] danegsta commented on #70
It looks like there's a check that was added for earlier VS Code preview releases of Bridge to Kubernetes that is triggering in VS as well. Fortunately, the check is controlled by an environment variable, so you should be able to disable it by adding ALLOW_NON_AZURE_CLUSTERS=true to your environment variables and restarting Visual Studio. It won't actually add support for non-Azure clusters in the

[2020-11-09 22:43] catsgotmytongue commented on #70
well I get a different error but I believe that it's because the cluster doesn't have the deployment/pods to actually handle things.

Is there a quick command line to re-start the kubernetes bridge or re-add the components ?

this is what I get now after adding the env var:
![image](https://user-images.githubusercontent.com/506072/98604911-6680f480-2299-11eb-867e-a97899779190.png)

[2020-11-10 13:37] morganlaneap opened #79 "Issue with port/targetPort on services"
We are running a service on our cluster with a `port` of 80 and a `targetPort` of 3000. I have configured B2K to point at this service and use local port 3000. No matter what I do, it just does not seem to work, I get time outs, but no console errors or anything else like it.

Is this something you are aware of, or am I just doing something wrong 😛

I'm running VSCode with a next.js app

[2020-11-10 22:23] daniv-msft commented on #79
Thanks for creating this issue, and sorry you run into it.

Does Bridge work for other services on your cluster? Or is this a general issue with Bridge to Kubernetes on your cluster?

Could you please confirm that your Next.js app listens on the port 3000 locally (which might be different from the `targetPort`, depending of your app's configuration)?

Finally, could you please clarify if you're us

[2020-11-11 00:49] #20 closed

[2020-11-11 03:04] daniv-msft commented on #70
@catsgotmytongue If you start Bridge from Visual Studio, we should validate that the components we expect are present cluster-side and recreate them as needed. However, as you suggest, it is possible that we might encounter an issue when doing so.

Could you please let us know if you can see the pods we create in your cluster once you start Bridge to Kubernetes: `routingmanager-*` if you use isola

[2020-11-11 11:27] arbielsk opened #80 "Support OIDC authentication"
**Is your feature request related to a problem? Please describe.**
We are currently evaluating using B2K for several teams in our company. One of these teams is working with a Kubernetes cluster that uses an OIDC authprovider. Unfortunately it seems like the C# kubernetes client that is used by B2K does not support OIDC.

The error that we receive is "User: {userDetails.Name} does not have appropr

[2020-11-11 16:59] greenie-msft commented on #80
Hi @arbielsk,

Thank you for your request and the details you've provided.

I've created a work item to discuss your request with the larger team. It would also be helpful if you could send your logs to our email alias: [BridgeToKubernetes@microsoft.com](BridgeToKubernetes@microsoft.com). The information from the logs will help us identity the work needed to support this request.

We will respond

[2020-11-11 19:41] daniv-msft commented on #80
@arbielsk Thanks for reporting this issue. Could you please let us know which OIDC authprovider this other team in your company uses?
We are aware of a very similar issue on AKS clusters with AAD managed authentication enabled (cf. this issue: https://github.com/microsoft/mindaro/issues/26).

Also, does running standard `kubectl`commands work in their case? If yes, then it might be a similar probl

[2020-11-11 20:29] alanmbarr commented on #29
Are there plans to release an updated VSIX for the Visual Studio IDE? Using any Kubernetes cluster is a nice feature on vscode so far.

[2020-11-11 21:36] daniv-msft commented on #29
@alanmbarr We're still fixing a couple of issues/completing the implementation, but we're almost there. It should be available in Visual Studio in a couple of weeks now.
+@danegsta who drives this on our side.

[2020-11-12 00:15] amir-davoodi commented on #29
Hi, I am trying to evaluate Bridge to Kubernetes in Visual Studio to use it within my team, however, the create profile dialogue fails to load the namespaces in my cluster! Is there anything other than connecting to the cluster needs to be done to get this working?

[2020-11-12 00:44] daniv-msft commented on #29
Thanks @amir-davoodi for giving a try to Bridge to Kubernetes, and sorry you encounter this issue.
Could what you see be an occurrence of https://github.com/microsoft/mindaro/issues/26 ?

[2020-11-12 06:33] Haim-Bi opened #81 "Problem running on AKS with Istio"
Hi,
I am using AKS with K8s version 1.17.9.
in my cluster i have Istio install according to https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux , with no other modifications.

when i am trying to run Bridge on this cluster i am having an error:
![image](https://user-images.githubusercontent.com/65607826/98904086-9ca0bd00-24c1-11eb-9289-5025353e

[2020-11-12 16:41] arbielsk commented on #80
@greenie-msft Thank you for your response. I will provide more details via mail as soon as I've been able to test @daniv-msft's solution.

@daniv-msft Thank you for your reply! I'd love to test the workaround, however I am unsure where I can find the equivalent of %LOCALAPPDATA%\BridgeToKubernetes\cache<subscription_id><resourcegroup_name><cluster_name>.kubeconfig on MacOS. Could you please share

[2020-11-12 16:58] HassanBedawy opened #82 "Node selector for isolation"
**Describe the bug**
We have a mixed cluster of windows and Linux nodes and I'm able to debug Linux pods without isolation, however when I try to enable isolation mode the tool will try to create two pods on windows node and there is no option to set node selector.

**To Reproduce**
Enable isolation mode for Linux project on mixed nodes cluster

**Expected behavior**
The tool should create require

[2020-11-12 17:14] daniv-msft commented on #80
@arbielsk Thanks for your reply! If they are working on MacOS, could you please confirm that they are using VS Code and not Visual Studio?
If they are indeed using VS Code, the instructions are simpler: just making sure that the current kubeconfig set in the Kubernetes extension in VS Code is the right one, and running a kubect command on this kubeconfig (`kubectl get namespaces`).
If the problem

[2020-11-12 17:38] pragyamehta commented on #81
Hi @Haim-Bi Thanks for opening this issue! It would be great if you could provide logs from your routing manager in your namespace.
You can retrieve the logs by running the below commands :

Retrieve the routing manager pod name
kubectl -n {namespace} get pods
Retrieve logs for the routing manager pod
kubectl -n {namespace} logs {routing manager pod name from step 1} > routing-manager-logs.txt
Kin

[2020-11-12 17:44] pragyamehta commented on #82
Hi @HassanBedawy Thanks for reporting this issue. I have created a bug on ourselves to take a look. We will let you know once we release the fix. Thanks!

[2020-11-13 02:03] rakeshvanga commented on #78
@daniv-msft This looks like the same issue we have fixed but the routing manager is setting up the deployment name differently and needs to be fixed.

@JasonWhall Thanks for reporting the issue. We will get this fixed in the next release.

[2020-11-15 09:09] Haim-Bi commented on #81
@pragyamehta thank you, i sent my logs to the mail you provided.

[2020-11-16 12:04] Haim-Bi commented on #81
is this issue related https://github.com/microsoft/mindaro/issues/52 ?
since istio is using sidecar as well

[2020-11-16 19:18] ovebastiansen opened #83 "Using istio service entries"
Hi,

I am trying to use this feature to check how things are working in out cluster, but I am not able to do that since we are using Istio and managed pod identities. Are there a way to use this locally and send all traffic back through the istio sidecar? I have looked at most of the documentation and can't seem to find any references to this kind of setup. Also for this to work it either has to r

[2020-11-16 21:38] catsgotmytongue commented on #70
Sorry, I was out a few days so didn't respond earlier.

Those were missing when I checked after seeing the error but I've since had to re-create the cluster I was using anyway and I'll have to when my networking configuration is stable and working (another team is working on that) again.

when I re-create the cluster I'll have to try again, until then I don't have a cluster worth testing it on. My

[2020-11-16 22:56] greggbjensen commented on #76
Thanks @daniv-msft, it seems I could set this in the ingress using an annotation.

[code]

I will try that out.

Having out of the box support for this would be great.

[2020-11-16 23:48] greggbjensen commented on #77
It will take me a while to set up back up a cluster and scenario for this.  Is there anything else you would like before I do?

[2020-11-17 00:34] daniv-msft commented on #70
All right, thanks @catsgotmytongue for the heads up!

[2020-11-17 02:51] daniv-msft commented on #83
Thanks @ovebastiansen for opening this issue. Indeed, the two features you mention here are features we are working on/planning to work on soon, but where we don't have a good answer yet.

1. **Istio/sidecar** > We *should* work with Istio if you run Bridge non-isolated. However, we tested this scenario a long time ago and, because the codebase evolved in the meantime, we don't have a very recent

[2020-11-17 12:09] ovebastiansen commented on #83
I am targeting this from windows.
And with the use of service entries, I would like to route the traffic back to the cluster and make the call to any azure services from inside of it, and not use my internet connection to hit that service. And also some of the services are private, and have to get hit from inside the cluster.
I guess that means that you have to look up all service entries in istio

[2020-11-17 12:10] arbielsk commented on #80
@daniv-msft I have been able to confirm with my team that they are:

- [x] using VS Code (and not Visual Studio)
- [x] current kubeconfig set in the Kubernetes extension in VS Code is the right one. We checked this by explicitly setting the kubeconfig to **~/.kube/config**. The clusters/contexts shown were the correct ones and also the namespace was selected correctly.
- [x] run `kubectl get names

[2020-11-17 21:33] ciacco85 opened #84 "Migration from Azure Dev Space failed"
**Describe the bug**
I've just switched the profile / launch of all my microservices inside my solution according to the docs from dev spaces to bridge to kubernetes
I've used the same urls and namespace of my dev space
With "multiple startup project" function of VS2019, I've selected all my 4 microservices projects
I get this error
"A Service is already connected"

**Expected behavior**
4 console

[2020-11-17 22:00] daniv-msft commented on #84
Thanks @ciacco85 for logging this bug. As of today, unfortunately, solutions are not supported in Visual Studio.
However, I believe that you can still debug multiple services by launching multiple instances of Visual Studio.
@danegsta > If you have any more details on how to do this or any known limitations, could you please provide them?

@ciacco85 > So that I better understand your scenario, cou

[2020-11-17 22:12] pragyamehta commented on #81
Following up further over email. For anyone else reading this post, Bridge to Kubernetes (with isolation disabled) works with service meshes. We have prioritized the support for service mesh with isolation as well on our end. Thanks!

[2020-11-17 22:23] daniv-msft commented on #80
Thanks @arbielsk! I replied to your email.

[2020-11-17 22:50] daniv-msft commented on #83
Thanks for your reply.
Yes, I confirm that Bridge will allow you to access services in the cluster, including private services, from your local machine. You will be able to access your services through the local IP we surface, or through the hosts file entry we register:
![image](https://user-images.githubusercontent.com/48293037/99460045-ff3ff180-28e3-11eb-896c-d688d39db828.png)
For example, in t

[2020-11-18 04:09] toanstt commented on #29
![image](https://user-images.githubusercontent.com/1669489/99482337-408cdb80-298e-11eb-85fa-3cfb7b5ba42b.png)
I follow the document steps but stuck at running command "Bridge to Kubernetes: Configure"
Any idea to solve this one?

[2020-11-19 15:06] arbielsk commented on #62
@pragyamehta We have retested with the B2K VSCode extension updated on 19/11/2020, 00:30:59.

It seems the issue is now fixed. So from our perspective the issue can be closed.

Thank you very much for your hard work, our team is excited to have B2K as an additional tool in our development toolbox.

[2020-11-19 16:06] ciacco85 commented on #84
Yeah, i've 4 microservices and I often have to start at least 2 of them (they talk to each other trough Azure Service Bus)
What I honestly can't understand  is if there any walkaround: I don't know like running a command using Visual Studio / Visual Studio Code

[2020-11-19 19:48] pragyamehta commented on #62
Happy to hear that @arbielsk ! Please feel to reach out again in the future. Closing this issue as resolved.

[2020-11-19 19:48] #62 closed

[2020-11-20 05:34] daniv-msft commented on #84
Thanks for your reply.
In your case, it is possible to start two separate instances of Visual Studio with each one opening its own project. There are two limitations however:
- Each service will need to listen on a different port.
- Isolation will not work, as we would generate a different routing isolation header for each service.

We're working on adding the support for solutions right into Visu

[2020-11-21 07:46] getmr commented on #32
Failed to update dependencies: XHR failed

[2020-11-23 14:16] creydr commented on #80
Hi,
could you please share your outcomes/status here as well, as I am interested in the OIDC integration, too.

Thanks

[2020-11-23 15:38] ciacco85 commented on #84
Unfotunately this setup is not optimal for standardized approach for the teams.
Instead, is there any plan to support Bridge to Kubernetes for visual studio solution?

[2020-11-23 18:36] daniv-msft commented on #80
@creydr Thanks for your message. As of today, we have a dependency on the [C# KubernetesClient](https://github.com/kubernetes-client/csharp/). I created this GitHub issue on their side, and unfortunately OIDC authproviders aren't supported on their side yet: https://github.com/kubernetes-client/csharp/issues/524

We're investigating other possibilities to get rid of this issue, but because of that

[2020-11-23 19:20] daniv-msft commented on #84
@ciacco85 Yes, adding support for solutions in Visual Studio is something we plan to add in the coming months.
In the meantime, would using VS Code be a workaround for you?

[2020-11-24 14:58] creydr commented on #80
Hi @daniv-msft,
thanks for your reply. We have a similar setup as you described in kubernetes-client/csharp#524.
I tried to resolve it to use `kubectl proxy`, configure a context for this proxy and use this for the setup. But in this case I get a BadRequest:

From bridge-library-x.txt
[code]
When I execute the request directly (via curl), it gives me a 409 (serviceaccounts "lpkrestorationjob-v2" a

[2020-11-24 17:11] daniv-msft commented on #80
@creydr Thanks for your reply, and sorry you're encountering this issue. Unfortunately as of today we don't support the `kubectl proxy` scenario as a way to bypass the C# KubernetesClient authentication issues.

This is one of the options we will consider when looking for workarounds, but as of today I don't see how it would work without us explicitly changing code on our side to make it happen.

[2020-11-24 18:13] creydr commented on #80
Hi @daniv-msft,
ok. Thanks for your response.
When I try to use a context with a kubernetes-admin user (without configured OIDC - only for testing), it does not start as well:

The *-restore pod prints in a loop the following:
[code]

while the log in bridge-library-x.txt says (in a loop) the following:
[code]

Can you help me with this issue here, or should I create a new issue for this?

Thanks

[2020-11-27 08:48] V4A001 opened #85 "Bridge to Kubernetes debugger does not stay connected ; it turns off orange color"
**Describe the bug**
`Redirecting Kubernetes service stats-api to your machine...
Current cluster: xx
Current namespace: todo-app
Target service name: stats-api
Target service ports: 3000

Deployment 'todo-app/stats-api' patched to run azds agent.
Found container 'stats-api' in pod 'stats-api-8555dd9854-7hfqr'.
Preparing to run Bridge To Kubernetes configured as service todo-app/stats-api ...
Conn

[2020-11-27 13:35] CharlPels opened #86 "bridge vs tokens"
I have a small "test/play" application that is using AzureAD oauth/tokens for giving access.
This is working fine in local or in AKS however it breaks with bridge giving a 502 Bad Gateway

I guess it has something to do with the return tokens or url length

[2020-11-30 07:23] sammym1982 commented on #32
I have another flavor of same error . But these workaround does not seems to work :(

![image](https://user-images.githubusercontent.com/11453064/100579876-d9c6c680-3299-11eb-8c3b-ebc73ef2a10a.png)

[2020-11-30 17:09] daniv-msft commented on #32
@sammym1982 Thank you for reporting this, and sorry you have this issue. Could you please try to terminate the EndpointManager process manually (if you're on Windows, you should see this right in the Task Manager) and restart VS Code?
This is the process we start with elevated permissions when using Bridge to Kubernetes. We have some logic to automatically kill it when updating dependencies, but i

[2020-11-30 22:42] amir-davoodi commented on #29
Thanks @daniv-msft for the reply. And yes! it looks like we are facing the same issue since we have enabled AAD for our AKS clusters. I'm looking forward for the fix. Is there any ETA?

[2020-11-30 22:49] daniv-msft commented on #85
@V4A001 Thank you for reporting this issue, and sorry you encountered it.
Is it possible that the service you debug locally doesn't start or crash as soon as started? For example, is it possible that the packages required by `stats-api` to start weren't installed properly through `npm i`?
Can you see any error messages in VS Code's output/debug console/terminal windows?

Also, from the logs, it se

[2020-11-30 23:08] daniv-msft commented on #86
@CharlPels Thank you for reporting this issue. Just to be sure I understand, could you please validate that your service relies on AAD managed pod identity?
If yes, this is a scenario we're working on but that's not available as of today. Also, could you please clarify which OS you're using for your local development? The solution we consider to support AAD pod identity will likely be OS-specific,

[2020-11-30 23:13] daniv-msft commented on #29
Thanks @amir-davoodi for your reply! Did you have a chance to try the workaround mentioned there? While we are working on making the experience better, in the foreseeable future we'll still rely on the kubectl authentication flow so that we don't need to reimplement it ourselves.
Do you encounter any issues while following [the instructions mentioned there](https://github.com/microsoft/mindaro/iss

[2020-12-01 04:12] brightzheng100 opened #87 "Does it support running on Mac + Minikube?"
**Describe the bug**
Tried the tutorial on my MacBook Pro + Minikube, but no traffic would be redirected to my VS Code.

**To Reproduce**
Steps to follow to reproduce this issue.

1. Deploy the app, by following exactly the doc;

2. Configure `Bridge To Kubernetes`, by following exactly the doc:

**launch.json**
[code]

**tasks.json**
[code]

3. In Debug, `Run Script: dev with Kubernetes`, which t

[2020-12-01 08:32] sammym1982 commented on #32
Yes that was it. Thanks. One other thing to note when this process was running one of the logs file kept growing and in my case went upto almost 500GB which made my c drive go out of space.

[2020-12-01 10:17] ppkozlowski opened #88 "Support multiple kubeconfig files provided by $KUBECONFIG"
**Is your feature request related to a problem? Please describe.**

I use multiple kubeconfig files to easily switch between projects and clusters. I don't want to merge them into one file but have separated due to frequently changes.

I've set $KUBECONFIG="/path1/.kubeconfig:/path2/.kubeconfig" but extensions doesn't recognize it as valid value.

![image](https://user-images.githubusercontent.com

[2020-12-01 16:44] k3NGuru commented on #67
Does Visual Studio 2019 support another cloud\on-premises, not AKS?
Visual Studio Code support another provider, but in Visual Studio 2019 i see only AKS

[2020-12-01 17:44] daniv-msft commented on #67
@k3NGuru It's not yet available, but it will soon be! The development is making good progress and I expect it should be available in the coming weeks.
+@danegsta for FYI.

[2020-12-01 18:29] iSeiryu commented on #67
@daniv-msft wait, in your response to me you said they "are already available in Bridge to Kubernetes.".
But in your response to @k3NGuru you are saying "it's not available yet".
Which one is correct?

[2020-12-01 18:32] daniv-msft commented on #67
@iSeiryu It is already available if you're using VS Code, and will be in a couple of weeks if you're using Visual Studio. However, I realize that I didn't mention `in VS Code` previously. Sorry that it was ambiguous.

[2020-12-01 22:58] daniv-msft commented on #87
@brightzheng100 Thank you for logging this issue, and sorry you encountered it.
I see that you're using Bridge to Kubernetes isolated (as you have the `isolateAs` field defined in your `tasks.json`).

This means that only the traffic that is accessing the service with this `isolateAs` header will be redirected to your machine. The rest of the traffic will keep hitting the original service, so that

[2020-12-01 23:01] daniv-msft commented on #32
Thanks for your reply. Do you remember which log file it was? This is not something we caught earlier, and is **very** worrying so any help to track this would be appreciated.

[2020-12-01 23:42] daniv-msft commented on #88
@ppkozlowski Thanks for reporting this issue. I confirm that this is a scenario we don't support as of today, but that we should. I'm logging a work item on our side to fix it.

In the meantime, while we fix this, would setting the kubeconfig in the Kubernetes extension be an acceptable workaround? If you set the current kubeconfig through the command `Kubernetes: Set Kubeconfig`, we will use this

[2020-12-02 06:28] ppkozlowski commented on #88
Hi @daniv-msft

Thank you for confirmation.

Putting kubeconfig paths to "vs-kubernetes.knownKubeconfigs" array is acceptable workaround and works as expected.

Thanks

[2020-12-02 07:02] SVronskiy commented on #32
Got problem:
[code]
There is no EndpointManager process in the Task Manager.
Manually renamed folder 'ad5081f1-aa9e-4add-a9ad-3f768504a8f7' to 'binaries' and this resolved my problem.

[2020-12-02 15:21] SVronskiy commented on #67
@daniv-msft please keep us informed how are thing are going on!
May be there's some beta release of VS extension to install/test on vanila on-premises k8s?

[2020-12-02 18:25] daniv-msft commented on #88
Thanks @ppkozlowski for giving it a try and confirming it works for you! I'm keeping this issue opened and will close it once we release the fix.

[2020-12-02 18:57] daniv-msft commented on #67
@SVronskiy Absolutely! I don't believe there is an existing beta program for the VS extension, but @danegsta please let me know if I missed it.
In any case, we expect to release this change around mid-December, so it will come quickly.

[2020-12-02 19:46] daniv-msft commented on #32
Thanks @SVronskiy! We're aware of this issue and are investigating it, but we don't have a good solution yet. This might be a race condition where we try to rename the folder after downloading whereas a handle is still kept on it.
Adding @rakeshvanga for FYI.

[2020-12-02 20:25] tvvignesh commented on #63
@daniv-msft Tried installing again to see if there were any updates in remote ssh. And I got this error when using the Commands in VSCode. Just adding it to this thread.

<img width="236" alt="e1" src="https://user-images.githubusercontent.com/1165845/100927196-8effb580-350a-11eb-9431-a52ecafa1425.PNG">

[2020-12-03 02:56] daniv-msft commented on #63
Thank you @tvvignesh for reporting this issue! This seems to me like an independent issue, where for some reasons the Bridge to Kubernetes extension wouldn't activate, and thus we wouldn't register the commands you see here. Another possibility is that we did activate, but that we had a crash at the beginning of our activation logic and didn't arrive at the time where we register our commands.

Co

[2020-12-03 11:43] tvvignesh commented on #63
Hi. I have it installed in Remote SSH since I wanted to test (not sure if that would be the issue here) - may be since you are still working on it.

Yes it does every time I select Configure or Open Menu option.

These are the errors logged when selecting the options (Dont see any error after install):

<img width="479" alt="e1" src="https://user-images.githubusercontent.com/1165845/101013562-82bb

[2020-12-03 17:15] daniv-msft commented on #63
Thank you for your quick reply!
We're trying to reproduce this issue on our side with Remote SSH and will keep you updated.

[2020-12-03 20:41] daniv-msft commented on #63
@tvvignesh We tried to reproduce this on our side, but unfortunately couldn't reproduce the issue. :(
A good suggestion from @rakeshvanga: is it possible that the Bridge to Kubernetes extension is installed only locally, and not in the WSL section?
That could explain why the extension seems installed but isn't activated.

![image](https://user-images.githubusercontent.com/48293037/101085732-b5ead5

[2020-12-03 20:46] tvvignesh commented on #63
@daniv-msft I don't have WSL enabled/installed in my machine since I don't use it. Hence I don't even have the WSL section in VSCode. The extension is installed remotely in SSH as you see from the image below.

<img width="370" alt="e1" src="https://user-images.githubusercontent.com/1165845/101086308-af954180-35d6-11eb-9c96-ce127322328a.PNG">

Anything else you would like me to look?

[2020-12-03 20:54] tvvignesh commented on #63
Also, while not related to this, had one more suggestion. Bridge to Kubernetes service depends on Azure Kubernetes Service extension and cannot be uninstalled. But for users who are not on Azure (like me), this dependency seems unnecessary. Though not a priority, decoupling it would be nice.

[2020-12-05 00:38] rakeshvanga commented on #63
@tvvignesh I've tried to repro this scenario with a remote ssh Linux machine and was not able to repro the `command not found` issue.
Can you try a couple of troubleshooting things to understand what is going on:
a. Remove the extension and install again
   - Can you uninstall the Bridge to Kubernetes extension from the remote ssh workspace
  - Close VS Code
 - Delete these folders
[code]
  - Inst

[2020-12-05 00:40] daniv-msft commented on #63
@tvvignesh Also, regarding the AKS dependency: thank you for reporting this. This is a legacy dependency we had when we were AKS-only. This will be removed the next time we release, as we're now open to all Kubernetes clusters.

[2020-12-05 00:50] tvvignesh commented on #63
@rakeshvanga @daniv-msft Removed all the deps as you said as below, reloaded VSCode (I use insiders so the extensions were in `.vscode-server-insiders/` for me), Installed bridge to kubernetes again and all extensions got installed (attached the image below), Did show cluster info and the info came up (testing it locally with Kind cluster right now)

`rm -rf mindaro-dev.file-downloader-1.0.6/ mind

[2020-12-05 00:59] tvvignesh commented on #63
@rakeshvanga @daniv-msft Tested again, but now with VSCode instead of Insiders in Remote SSH as before. Now, the menu works, but facing the same problem as I mentioned initially in the issue

Looks like things break with Insiders.

[2020-12-05 01:16] rakeshvanga commented on #63
@tvvignesh Thanks for trying. If you encounter it in VS Code-insiders, I believe the issue might be on VS Code side but I can try to see if the next version of VS Code in any way trying to break us.

Regarding, ssh connection disconnecting repeatedly, I've seen this issue but once I upgraded my node to a vCPUs: 4 and RAM: 16 GiB machine I was not seeing the issue anymore. Is there a way for you to

[2020-12-05 01:27] tvvignesh commented on #63
@rakeshvanga Actually, my remote VM is even more bigger 32 GB RAM, 8 core

<img width="840" alt="e1" src="https://user-images.githubusercontent.com/1165845/101229574-e480c180-36c6-11eb-84e9-bd48d76ff393.PNG">

Regarding not working in Insiders, are you by any chance using an absolute path to `~/.vscode-server`? I remember it worked in insiders in one of the older versions though.

[2020-12-05 01:31] tvvignesh commented on #63
Btw, just in case you want to try, this is my VSCode insiders version (latest):

[code]

[2020-12-06 21:54] V4A001 commented on #57
Is this fix out? I have same issue. In Visual Studio Code I can select the namespace, but in Visual Studio 2019 it does not show the namespaces. I will try the instruction above.

Microsoft Visual Studio Professional 2019
Version 16.8.2

[2020-12-06 21:59] V4A001 commented on #57
Deleting the cache file and under debug of the project, edit profile made them visible.

[2020-12-07 13:56] V4A001 commented on #85
I have it running on Visual Studio 2019 and Visual Studio Code. In the first no port to be selected.

[2020-12-07 13:56] #85 closed

[2020-12-07 16:15] abvaden commented on #29
I have this same issue as well when using Bridge with WSL. A good alternative when working with WSL is to use [telepresence](https://www.telepresence.io/) even though it has limitations in WSL as well it has allowed me to continue my work with only minor modifications to my debugging setup.

I have also experimented with using Bridge and VisualStudio Online / Codespaces and encounter the same issu

[2020-12-07 16:16] abvaden commented on #52
I have this same issue as well when using Bridge with WSL. A good alternative when working with WSL is to use [telepresence](https://www.telepresence.io/) even though it has limitations in WSL as well it has allowed me to continue my work with only minor modifications to my debugging setup.

I have also experimented with using Bridge and VisualStudio Online / Codespaces and encounter the same issu

[2020-12-07 21:42] catsgotmytongue commented on #70
So today I was able to finally try again.

I was able to get the subscription to show up in the dialog and select the service I want to debug.

I'm now getting a different problem preventing me from the attaching debugger to the pod in visual studio, at the moment I'm trying to make sure it isn't something on our end.

This particular issue I started seems to be fixed though

[2020-12-07 21:51] daniv-msft commented on #70
Thanks @catsgotmytongue for the update. Please let us know if we can help once you clarified things on your end.

[2020-12-07 22:43] catsgotmytongue commented on #70
I'm a little puzzled now if our firewall is getting in the way again, its quite likely.

I am reading the logs bridge created to get an idea for how all the things are happening.

Is there something that explains what's happening?
I can see a "restore" Job getting created and I can see endpointmanager comes up but sometimes gets killed because of some kind of idle check.
I can see that bridge is f

[2020-12-07 22:44] rakeshvanga commented on #63
@tvvignesh I've tried on the same version of VS Code insiders and was able to repro. It seems the error is because of the dependency we had on aks kubernetes extension. We've now removed that dependency and the next version of the Bridge To Kubernetes extension will not have this issue.  Thanks for reporting the issue.
![image](https://user-images.githubusercontent.com/33327237/101414214-8c021d80-

[2020-12-07 22:57] tvvignesh commented on #63
@rakeshvanga Awesome to hear that. Will try it out when it comes. Btw, the SSH issue is not sorted out yet right?

[2020-12-07 23:04] rakeshvanga commented on #63
@tvvignesh, It is still not yet sorted out and we are actively working on it.

[2020-12-08 16:16] Zetanova opened #90 "VS Code Remote-WSL not working"
**Describe the bug**
vscode with `remote-wsl: ubuntu` startup of the `EndpointManager` fails.
The same setup without remote-wsl works.

**To Reproduce**
Try to debug the sample-app over vs code remote-wsl: ubuntu

**Logs**
VS Code Output:
[code]

[mindaro-vscode-2020-12-08T16-02-33.065Z.txt](https://github.com/microsoft/mindaro/files/5660400/mindaro-vscode-2020-12-08T16-02-33.065Z.txt)

**Environm

[2020-12-08 16:40] catsgotmytongue commented on #70
also I am never seeing a routing manager pod, as described in one of the previous comments.

What could prevent the pod from instantiating ?

[2020-12-08 21:49] pragyamehta commented on #90
Hi @Zetanova Thanks for reporting this issue. We will investigate and get back to you soon!

[2020-12-09 00:10] pragyamehta commented on #90
Hi @Zetanova We cannot start the EndpointManager in the case of WSL because we require elevated permissions for this process, and we cannot request them when working in remote development scenarios.
We're investigating workarounds (typically: removing our elevated permissions requirements) but we don't have something to share yet.
We want to understand how big of a blocker this is for you. Is it p

[2020-12-09 00:55] Zetanova commented on #90
Thx, for your reply

I can't use the visual studio extension because it supports only AKS,
so I looked into the vs code option.

I would need to connect to my [akka.net cluster](https://github.com/akkadotnet/akka.net)
and expose one tcp port for it.

some other drawback of this extension is that
it is discovering only service endpoints of the k8s and not headless service.

Meanwhile I looked at te

[2020-12-09 02:45] daniv-msft commented on #70
The main idea behind Bridge to Kubernetes is quite simple, but there are multiple subtle cases that can make it more complex.

If you didn't already, I'd suggest to take a look at this page that explains what happens when we start the connection, especially the part after `When Bridge to Kubernetes establishes a connection to your cluster, it:`: https://docs.microsoft.com/visualstudio/containers/o

[2020-12-09 16:30] catsgotmytongue commented on #70
That was very helpful. I have debugging working now.

In my case checking isolation mode made it connect a debugger, having it unchecked didn't work at all (just spins and eventually crashes).

**can you clarify this point please ?
"Because all communications go through port forwarding (specifically through SignalR over port forwarding), we don't need a public ingress or any public endpoint on the

[2020-12-09 18:17] rakeshvanga commented on #63
@tvvignesh The actual issue for BridgeToKubernetes not working in the VSCode-insiders 1.52 has been fixed by this issue: https://github.com/microsoft/vscode/issues/111913 by VSCode itself. Please download today's version of insider build and you shouldn't repro the issue anymore. Also, it was not specific to remote-ssh but the activation failed for other scenarios as well.

[2020-12-09 18:24] tvvignesh commented on #63
@rakeshvanga Interesting. Just tried out after updating. You are right. The issue with menu no longer occurs in insiders and now have the consistent experience in Insiders and VSCode where both remote ssh diconnects repeatedly.

[2020-12-09 18:32] tvvignesh commented on #63
Interestingly enough, bridge for kubernetes makes my CPU to run at 90% because of issue 5 (might be related to issue 1) and I can hear my laptop fans working at full speed 😂

I uninstalled Bridge for Kubernetes and did remote SSH and the fans are back to normal 🤣

[2020-12-09 19:24] rakeshvanga commented on #63
@tvvignesh Thanks for trying it out on the new VS Code Insiders build and verifying the fix.
Yes, we are tracking this issue and investigating why there is a high CPU usage while using the extension. I will update the thread once the fix has been released for this issue.

[2020-12-09 19:44] pragyamehta commented on #90
Hi @Zetanova We are releasing an update to the Visual Studio extension next week which will support any Kubernetes - as long as you have a kubeconfig to connect to your Kubernetes cluster, you should be able to use Bridge to Kubernetes on Visual Studio to debug. This functionality is already supported in VS Code.

Regarding headless service support, we have not heard a lot of customers asking for

[2020-12-09 20:02] Zetanova commented on #90
In my experience many dotnet core apps concertized.
Even some unit-tests are run with docker containers.

In Visual Studio  docker-compose is used to debug a concertized dotnet core app.
It is overriding the docker-compose.yaml with an entrypoint `tail -f /dev/null`
and using the running container as the debug environment.
https://docs.microsoft.com/en-us/visualstudio/containers/container-build?vi

[2020-12-10 08:53] lippylee commented on #90
I'm currently facing this issue as well. It'd be nice to have a means of running EndpointManager without elevated permissions. Or to use a workaround for this if there's any?

I'm currently building a new cross platform development environment for my team with multi OS support. WSL2 + docker desktop would allow us to re-use most of what we're preparing for the Linux & MacOS.

[2020-12-10 10:46] Zetanova commented on #90
@lippylee I tested now view methods.
I am using vscode for everything but never before for dotnet / c# projects.

1) vscode: bridge to kubernetes
    Pro: easy for simple services
    Cons: usage of vscode for now, only working on the windows host, not as a container,
              proxies all service ports in the k8s.
2) vscode remote connect directly to  a development pod running into kubernetes

[2020-12-11 06:40] liujiyuan commented on #29
Header propagation over http works fine.
How to propagation Header over tcp in envoy when Running in isolation mode?

[2020-12-11 06:42] liujiyuan opened #91 "Header propagation over tcp"
Header propagation over http works fine.
How to propagation Header over tcp in envoy when Running in isolation mode?

[2020-12-11 06:44] liujiyuan opened #92 "Header propagation over tcp"
Header propagation over http works fine.
How to propagation Header over tcp in envoy when Running in isolation mode?

[2020-12-11 17:29] pragyamehta commented on #91
Hi @liujiyuan Could you explain your scenario in detail please? Are you using envoy in your app? If yes, how? An little more detail about your application architecture would help me answer your question :)

[2020-12-11 20:32] daniv-msft commented on #92
Duplicate of https://github.com/microsoft/mindaro/issues/91

[2020-12-11 20:32] #92 closed

[2020-12-11 20:33] daniv-msft commented on #29
Thanks @liujiyuan for adding this comment. Tracking the replies to your question in https://github.com/microsoft/mindaro/issues/91

[2020-12-11 21:36] greenie-msft commented on #90
Hi @Zetanova,

Thank you for the feedback and for clarifying the scenarios you would like to see Bridge support. We are in the early stages of exploring running a local container(s) in combination with Bridge to Kubernetes.  If it is okay with you, I might reach out with some additional questions as we make progress in our explorations.

Thank you,
Nick

[2020-12-11 22:40] Zetanova commented on #90
@greenie-msft I got yesterday option 5. working for me and should be enough for now.
But an option directly over vs2019 hosted containers would be better.

Pls fill free to ask me.

[2020-12-11 22:46] daniv-msft commented on #90
Thanks @Zetanova for your reply.
@lippylee > As of today, we require elevated permissions to run the EndpointManager. However, we're investigating other possibilities to use Bridge without administrator rights, and we'll keep you updated once we have something to share.
Adding @rakeshvanga who is working on this.

[2020-12-12 04:27] liujiyuan commented on #91
Thank @pragyamehta for your applying.
my scenario is there two server. one is web server, the other is netty server.
Service A is WebServer.
Service B is NettyServer.
How to propagation Header from Service A to Service B over tcp.

[2020-12-12 04:28] liujiyuan commented on #92
Thanks a lot.

[2020-12-14 11:12] arbielsk commented on #62
@pragyamehta
Unfortunately I need to correct the result of my initial testing evaluation. It seems like my initial tests falsely stated that the issue was fixed, because the program that allocated port 80 on the machine we tested on was not allocating the port at the time of the test.

There still seems to be the need for having port 80 available when starting B2K in VSCode (popup explicitly deman

[2020-12-14 19:22] pragyamehta commented on #91
Hi @liujiyuan It sounds like you want to know how to propogate the header from Service A (webserver). A web server uses the http protocol. The below documentation can help you in how to forward the header https://code.visualstudio.com/docs/containers/bridge-to-kubernetes#_header-propagation

Let me know if I understood your question correctly. If not, please provide more details about Service A, t

[2020-12-14 23:39] pragyamehta commented on #62
Hi @arbielsk I am sorry to hear that this didn't work for you. We will be releasing a fix for this early next year.

[2020-12-15 06:59] arbielsk commented on #62
@pragyamehta Thank you so much, I appreciate it!

[2020-12-16 00:29] Creedzy opened #93 "Patch request FieldValueForbidden"
Hi . I am running into an issue running Bridge on AWS EC2 instances. The cluster is created using kops if required I can give you further information. The steps are as follows.

Prerequisites:
VS Code on MacOS - [ x ]
Installed Bridge to Kubernetes VS Code extension from the market.  - [ x ]
Kubernetes cluster with a running service/application - [ x ]

1. Ran the configuration process using (⇧⌘P)

[2020-12-16 06:38] liujiyuan commented on #91
There are three roles: Client、webserver and tcpserver。
client access webserver over http, webserver access tcpserver over tcp.
The doc you given only describe propagate header over http. I need solution is propagating header over tcp.

[2020-12-16 13:04] lippylee opened #94 "Lack of namespacing on service port envvars"
**Describe the bug**
When launching a debug session with bridge to kubernetes, environment variables are created for each service port.
For example, for a service named `service-1` there's a corresponding `SERVICE_1_PORT='TCP://127.1.1.29:12345` in the debug envvars.

We use the same naming scheme for configuration, but there's a collision with bridge overwriting our cluster envvars when we run a

[2020-12-16 20:18] danegsta commented on #67
@k3NGuru the Visual Studio Bridge to Kubernetes extension was just updated on the [marketplace](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.mindaro) with support for connecting to clusters from your local kube config

[2020-12-16 21:17] rakeshvanga commented on #93
@Creedzy Thanks for the detailed information and logs. I believe this issue is on our side and to confirm can you share the logs from `$TMPDIR\Bridge To Kubernetes` folder?

Also, can you describe the K8 resources for the service being debugged? Specifically, I would like to know if only `pods` and `services` are part of this service without K8s deployment resource?

[2020-12-16 21:21] rakeshvanga commented on #94
@lippylee Thanks for the detailed repro steps.
I have added following code to the test.py to get the port number:
[code]
Got the following information with the port number:
[code]
When a debug session starts we do make the `<SERVICE_NAME>_SERVICE_PORT` environment variable available. We replace the values of the existing K8s env variable values to not break the scenarios where the user's code is u

[2020-12-17 05:46] lippylee commented on #94
@rakeshvanga Thanks for looking into this :)

We currently use `<SERVICE_NAME>_PORT` which is incidentally what bridge uses as well. So for example, for a service named `frontend-server`, we use `FRONTEND_SERVER_PORT` to do configuration in other services. This gets overwritten in the bridge debug environment due to your naming scheme, thus I suggested possibly namespacing bridge related envvars.

[2020-12-17 14:07] Alexander-Krause commented on #58
@greenie-msft Can you now provide more infos?

[2020-12-17 20:04] catsgotmytongue commented on #70
@daniv-msft

Ok. for the record I think I have finally worked out the issues holding me back, some of them internal.

This is fixed for me, I recommend closing the issue now

[2020-12-17 20:39] rakeshvanga commented on #94
@lippylee Thanks for sharing the details.

Bridge To Kubernetes is following the recommended format for the [Service environment variables](https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables) mentioned in K8s docs. I would like to understand your usage of these environment variables which is different from the K8s proposed manner?

[2020-12-17 20:53] lippylee commented on #94
Alright, we'll tweak our use case. Thanks for looking into this though :)

[2020-12-17 20:53] #94 closed

[2020-12-17 23:52] greenie-msft commented on #58
Hi @arbielsk and @Alexander-Krause

Apologies for the delay, we've recently published the doc that explains the necessary permissions required to use Bridge. We have also supplied a RoleBinding yaml as requested:

https://docs.microsoft.com/en-us/visualstudio/containers/overview-bridge-to-kubernetes?view=vs-2019#rbac-authorization

Please let me know if you have any further questions. Thank you.

[2020-12-17 23:55] daniv-msft commented on #70
@catsgotmytongue Thank you for your reply, and apologies I didn't reply earlier.
Glad you are now unblocked! Please don't hesitate to reach out to us again if we can help you in the future.

[2020-12-17 23:55] #70 closed

[2020-12-18 18:09] Creedzy commented on #93
Hi @rakeshvanga

I have uploaded the log files from `$TMPDIR `

The chart consists of:
`kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.resourcePrefix }}microidv
spec:
  selector:
    app: {{ .Values.resourcePrefix }}microidv
  ports:
  - protocol: TCP
    name: microidv-http
    port: 8080
    targetPort: 8080`

    `apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: microidv
  lab

[2020-12-18 18:27] rakeshvanga commented on #93
@Creedzy Thanks a lot for the detailed k8s resouces and logs. Yes, I can confirm that this is a issue on Bridge To Kubernetes side. I have logged a bug and someone from my team will look into and fix this as soon as possible.

[2020-12-20 11:47] TomGeske opened #96 "AAD Integration in AKS doesn't work with Bridge to Kubernetes in Visual Studio 2019"
**Describe the bug**
When configuring Bridge to Kubernetes profile in Visual Studio 2019 it seems like AKS-managed Azure AD AKS clusters aren’t supported.

**To Reproduce**
Steps to follow to reproduce this issue.
1.  Create or use a [AKS-managed AAD cluster](https://docs.microsoft.com/en-us/azure/aks/managed-aad)
2. Ensure you downloaded Azure AD credentials for your cluster
3. Open your project

[2020-12-21 16:54] ciacco85 commented on #84
I've managed to run one microservice with bridge to kubernetes in VS code
Any advice, official doc or whatever in order to run multiple services in VS code?

[2020-12-21 18:10] pragyamehta commented on #96
Hi @TomGeske thanks for reaching out to us! We are aware of this issue and are working to provide a fix. Meanwhile, please refer to this #26 to get unblocked.

[2020-12-21 18:10] #96 closed

[2020-12-21 18:30] daniv-msft commented on #84
@ciacco85 You can use a [multi-root workspace](https://code.visualstudio.com/docs/editor/multi-root-workspaces) to open your multiple services in VS Code (similar as a solution in Visual Studio).
Then, you just need to configure each of them for Bridge to Kubernetes, and debug them one by one.
Please let me know if you need anything else.

[2020-12-21 22:45] ciacco85 commented on #84
We've managed to run multiple service with compound
We've set launch.json/task.json in .vscode folder in the root of the repo
Running the compound, we've managed hitting 2 breakpoint in 2 different controller in 2 different microservices.

[code]

[code]

But...I repeat BUT

We aren't getting all the real advantages of bridge to kubernetes like dev spaces because we aren't using isolation: each de

[2020-12-21 23:08] daniv-msft commented on #84
Thanks for your reply.
Is there a reason not to use isolation in your case? You can select whether you want to work isolated when configuring Bridge (command `Bridge to Kubernetes: Configure`) or by adding manually the `isolateAs` field to your project's tasks.json, for example:
[code]
Please note that in the example above, I used `fventurini` as it is the name of your namespace, but that you can

[2020-12-21 23:30] ciacco85 commented on #84
Sorry I haven't explained my self.
We aim to use isolation, but the easiest solution to start working with bridge to kubernetes is without it, especially if the development of the whole team was blocked due to Azure Dev Space issue.
So let's see if everything is working fine, then we'll add complexity.
Don't forget that, without isolation and with one namespace per developer, we're aware that we'r

[2020-12-21 23:35] daniv-msft commented on #84
Thank you @ciacco85!
Yes, makes sense, I understand that unblocking yourself and your team was the first priority. Please don't hesitate to contact us if we can help you more!

[2020-12-22 11:09] ciacco85 commented on #84
A question. Since microservice 2 microservice communication is achieved by azure service bus and Mass Transit, we've managed to isolate each developer work by adding a prefix to the queue/topic binded to developer azure dev space name obtained from the Helm's Release structure.
Since bridge to kubernetes encourage the use of a single namespace, are there an best practice around this topic or sugge

[2020-12-22 19:26] daniv-msft commented on #84
We still need to spend more time understanding how we work with Azure Service Bus, but are you dependent on having a single namespace for each user for this to work?

If not, could you reuse the logic you put in place for Dev Spaces for Bridge to Kubernetes? Isn't it possible to bind your queue with the isolated service Bridge creates?

Apologies if I'm missing something: we still need to investig

[2020-12-23 21:56] greenie-msft opened #97 "Support for any Kubernetes cluster in Visual Studio and VS Code (Preview)"
Hi everyone,

After the recent release of our new [Visual Studio extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.mindaro), I'm excited to announce that Bridge to Kubernetes supports any Kubernetes cluster in Visual Studio and VS Code. Whether you’re connecting to your development cluster running in the cloud, or to your local cluster, Bridge to Kubernetes is available

[2020-12-25 01:33] xclw2000 commented on #75
I have the same problem. Do you have a step by step tour for a new project or my own project which use third or a local kubernetes cluster?

[2020-12-25 01:40] k3NGuru commented on #67
Yes, we have already updated and are trying to work.
So far problems with setting up isolation routing

[2020-12-25 01:45] xclw2000 commented on #97
Can u give a step by step tour for a new project or an exists project?

[2020-12-26 22:07] TomGeske commented on #26
Could Visual Studio Extension for Bridge to Kubernetes use the same .kube/config like other tools do?
For auth workflow would integrating [kubelogin ](https://github.com/Azure/kubelogin) be an option?

@weinong

[2020-12-28 13:07] amsoedal commented on #67
Hi @k3NGuru sorry you're running into issues with the isolation. Are you seeing "Failed to get routing manager status" or other issues? If you grab the logs from your machine (%TEMP%/Bridge to Kubernetes) & from [the routing manager pod](https://github.com/microsoft/mindaro/issues/26#issuecomment-724280014), I can take a look and see if we can get you unblocked!

[2020-12-28 13:14] amsoedal commented on #26
@TomGeske Hi Tom, I think as of [our latest release](https://github.com/microsoft/mindaro/issues/97#issue-774062290) the VS extension can connect to any cluster that's present in the local kubeconfig.  Are you seeing issues with that?
Also I'll log a work item for the team to investigate kubelogin!

[2020-12-28 17:54] daniv-msft commented on #75
@xclw2000 Thank you for your comment. If you are using VS Code, please have a look at this tutorial: https://code.visualstudio.com/docs/containers/minikube
This tutorial is initially for Minikube, but it can apply to any third-party Kubernetes cluster (if you're not using Minikube, please skip to `Deploy the application`).

If you're using Visual Studio, unfortunately we don't have a tutorial as o

[2020-12-28 17:57] daniv-msft commented on #97
If you are using VS Code, please have a look at this tutorial: https://code.visualstudio.com/docs/containers/minikube
This tutorial is initially for Minikube, but it can apply to any third-party Kubernetes cluster (if you're not using Minikube, please skip to Deploy the application).

If you're using Visual Studio, unfortunately we don't have a tutorial as of today but we're working on it. We'll k

[2021-01-02 05:14] lamLeX opened #98 "Error Common port '80' is in use on your machine and may prevent Bridge To Kubernetes from forwarding network traffic."
**Describe the bug**
I'm trying to run the B2K on either VSCode (ext v1.0.120201211) or VS (ext 2.0.20201216.1). Both failed with error
`Common port '80' is in use on your machine and may prevent Bridge To Kubernetes from forwarding network traffic.`

**To Reproduce**
I'm using Amazon EKS
Local port is set to 5050

*service.yaml:*
[code]

*ingress.yaml*
[code]

**Logs**
Attach logs from the follow

[2021-01-04 14:35] amsoedal commented on #98
Hi @lamLeX, sorry you ran into this! In order to run, Bridge usually stops any services that are taking port 80 if it recognizes them, but sometimes they can start up again. In TaskManager, do you see BranchCache running? Other possible culprits could be IISAdmin, HTTP or World Wide Web Publishing Service. Setting the startup type to manual for BranchCache has been known to work in the past.  Let

[2021-01-04 18:52] lamLeX commented on #98
Hi @amsoedal, I have stopped the service and set it to manual. However, the service automatically start after a while.

`netstat -ano` yields no process occupying the port 80.

[2021-01-04 19:56] amsoedal commented on #98
@lamLeX thanks for those details. Does this reproduce every time, even when you've recently killed BranchCache?

[2021-01-04 23:48] lamLeX commented on #98
@amsoedal  For some reason I can't kill the BranchCache completely. It keeps respawning. And this error happens every times I try the B2K. Both version of VS and VS Code yield the same error.

[2021-01-05 01:25] daniv-msft commented on #98
Thanks @lamLeX for your quick reply. Could you please try to set the "Startup type" of BranchCache to "Disabled", and then stop it again? That's what I'm using personally.
Even in this mode, BranchCache will come back after a couple of days, but it should leave us the time to determine if it is indeed the process blocking the port 80 on your machine.

![image](https://user-images.githubusercontent

[2021-01-05 14:14] amsoedal commented on #77
Hi @greggbjensen, we were able to repro your issue and my colleague is working on a fix. If you want to test it out, you can set the routing manager environment variable to point to her custom image:

`$env:BRIDGE_ROUTINGMANAGERIMAGENAME=murph15/routingmanager:multipleing`

Let us know if this works for you! Or, if you prefer to wait, the fix should go out when we release (likely next week).

[2021-01-06 21:57] lamLeX commented on #98
Hi @daniv-msft , thank you for your suggestion.

After trying again, I don't get the port 80 error anymore. However, I encounter another issue that prevents EndpointManager to launch.
Here is the mindarocli log
[code]

and here is the bride-library log
[code]

[2021-01-06 22:32] daniv-msft commented on #98
Thanks @lamLeX for your message, and sorry you encounter this issue.
@amsoedal This seems to be another occurrence of the issue you're investigating. Is there anything that would help understanding it better, or bypassing this?

[2021-01-07 08:55] jagoe opened #100 "ARM support"
I'm running a k3s cluster with Raspberry Pis and can't use Bridge to Kubernetes, since the `routingmanager` doesn't support ARM architecture.

Are there plans to support ARM in the future?

[2021-01-07 11:42] k3NGuru commented on #67
Hi @amsoedal
We have k8s (1.18) on-promises. Our project based on .net core. When i trying apply Bridge to kubernetes to our dev namespace, doesn't apply URL (i waiting 10+ minutes).
Namespace - epp-dev

![2021-01-07 18_28_55-Edit profile for Bridge to Kubernetes](https://user-images.githubusercontent.com/138567/103888435-52ca0100-5117-11eb-8753-8ed517eb0d6c.png)
[Bridge To Kubernetes.zip](https:/

[2021-01-07 12:12] amsoedal commented on #67
@k3NGuru thanks for these details! We will investigate and get back to you on this thread.

[2021-01-07 12:19] pvinokurov opened #101 "Failed to get routing manager deployment status"
Bridge to Kubernetes: v1.0.120201211

2021-01-07T12:02:12.4513304Z | MindaroCli | ERROR | Failed to get routing manager deployment status

**Logs**
`2021-01-07T12:01:55.3584804Z | RoutingManager | ERROR | Null ref in AddLoadBalancerTriggersAsync - message : Object reference not set to an instance of an object.. Call stack:    at Microsoft.DevSpaces.RoutingManager.RoutingManagerApp.AddLoadBalancerT

[2021-01-07 12:24] amsoedal commented on #98
@daniv-msft  this is indeed a repro of the issue I've been looking into.
@lamLeX  does this reproduce consistently or only sometimes? Also, do you see a bridge-endpointmanager-*.txt log with a corresponding timestamp or only bridge-library and bridge-cli logs? Really appreciate that you're reporting this one!

[2021-01-07 13:01] amsoedal commented on #100
Hi @jagoe, thanks for reaching out. Have you tried debugging in non-isolated mode (i.e. not requiring routingmanager)? Will that work for your scenario?

[2021-01-07 13:14] jagoe commented on #100
Hey, thanks for the quick reply.
Sadly, that results in the same issue with both `lpkremoteagent` and `lpkrestorationjob`.

[2021-01-07 13:22] amsoedal commented on #100
@jagoe Sorry to hear that. As far as I know this isn't on our backlog yet, however I've made a note to discuss this with the team for future improvements. Out of curiosity, what specific issues are you seeing -- are the pods simply unable to come up, or do the logs show errors?

[2021-01-07 13:33] jagoe commented on #100
@amsoedal Alright, thanks for the feedback.
The pods crash, each logging this error: `standard_init_linux.go:219: exec user process caused: exec format error`
That's a pretty good sign the binaries aren't built for the architecture that tries to execute them.

I'm not in a hurry for that to work, since I was just playing around with the extension. I might try it again on a cluster with amd64 archi

[2021-01-07 17:45] pragyamehta commented on #101
Hello! We are releasing a fix for this early next week. Please try again next week and let us know if you are unblocked.

[2021-01-07 17:45] #101 closed

[2021-01-08 00:10] lamLeX commented on #98
@amsoedal
yes, this happens every time I click to run the B2K
Here's the endpoint manager log
[code]

[2021-01-08 12:10] amsoedal commented on #98
@lamLeX this log is very helpful! This is definitely something we need to fix. As a manual workaround, can you see if deleting the "EndpointManager" folder (under ~/.bridge or %USERPROFILE%/.bridge) helps?

[2021-01-11 19:36] lamLeX commented on #98
Hi @amsoedal,
after deleting the "EndpointManager" folder, the application finally started.
Unfortunately, I'm working on something else now, and it's hard for me to find time to test the routing. Once I could come back to work on this, I'll follow up if I found any other obstacles.
Thanks for helping me.

[2021-01-11 23:05] filariow opened #103 "Failed to establish a connection. Error: Failed to get routing manager deployment status"
**Describe the bug**
When starting a microservice, either in isolation or not, the bridge to kubernetes extension for VSCode returns the following error.
On the cluster side we notice the creation of the envoy proxies containers for each microservice and the successful creation of the ingresses for the isolation.

Application Description:
- nginx api gateway
- 4 microservices
- 1 front-end web app

[2021-01-11 23:07] ciacco85 commented on #103
#28 already seen this issue without success

[2021-01-11 23:29] daniv-msft commented on #103
Thank you @filariow and @ciacco85 for reporting this issue, and sorry you're facing it. I confirm I'm reproducing it locally as well.
Adding @pragyamehta who is investigating this on our side.

[2021-01-12 00:13] pragyamehta commented on #103
Hi @ciacco85 and @filariow Thanks for reaching out to us. We are aware of an issue that manifests as "Failed to get routing manager deployment status" and we will be rolling out a fix for this in VS Code tomorrow.

I want to make sure that the issue you are seeing is the one that we are fixing. To validate that, could you please attach logs from the below locations and send them to bridgetokuberne

[2021-01-12 00:49] filariow commented on #103
Thank you very much @pragyamehta. I sent the email right now with logs attached.

[2021-01-12 01:00] pragyamehta commented on #103
Hi @filariow thanks for sending the logs. I have confirmed that the issue you are seeing should get fixed with tomorrow's release. Please try it out and let us know if it works for you. Thanks!

[2021-01-12 01:08] filariow commented on #103
Ok @pragyamehta, I'll check tomorrow and let you know.

[2021-01-12 16:17] curtstate commented on #103
I rather suddenly (after debugging working fine 1hr earlier in aks) started to see a "Failed to get routing manager deployment status" in visual studio yesterday.
How would I know if its the same issue ?

[2021-01-12 18:19] pragyamehta commented on #103
@curtstate yes, I can confirm this is the same issue. We are rolling out a fix for this today. Please try again today afternoon/evening. Thanks!

[2021-01-12 18:20] curtstate commented on #103
@pragyamehta Thanks for the update, I'll look forward to the fix. I spent a couple hours trying to figure out what's wrong.

If you don't mind sharing, what was the root cause ?

[2021-01-12 18:27] pragyamehta commented on #103
@curtstate From the logs, as you can see, we are trying to port forward to the routing manager to get information on whether it was able to setup isolation properly for your Bridge to Kubernetes session. For each B2K session, we spin up a new pod of routing manager and kill the previously running one (if any). My hunch is that port forwarding to the service is unable to pick the right pod (running

[2021-01-12 18:31] ciacco85 commented on #103
@pragyamehta  thanks for the explanation! I was interested, too.
Don't you mind sending here an update when you'll roll out the new release? we're really looking after it!
Thanks

[2021-01-12 18:32] pragyamehta commented on #103
@curtstate
Also, apologies for the confusion - I just noticed that you are a Visual Studio user. We are releasing the fix for this problem on VS Code today. Our fix for VS will be released sometime before end of this month. We are working hard to get the VS release out as soon as possible since we know this issue is blocking customers.
Can you let us know if this issue reproduces consistently for

[2021-01-12 18:45] curtstate commented on #103
@pragyamehta

I really appreciate the details as it helps me understand what is going wrong and help me understand if its a problem on our side or not as our infrastructure teams often change things its not always clear where to go to try and fix the issue.

This is consistently blocking me in visual studio often but not every single time, until yesterday.

I like to understand the under-the-hood

[2021-01-12 21:03] ciacco85 commented on #103
I've switched to vs code since the adoption of b2k. I was using vs with devspace
So waiting for the update 😉

[2021-01-12 22:33] pragyamehta commented on #67
Hi @k3NGuru  would it be possible for you to send over your ingress yaml to us? I am trying to understand how you have setup your ingress. Please send it over to bridgetokubernetes@microsoft.com with a link to the issue and we will try to get you unblocked asap. Thanks!

[2021-01-12 22:34] pragyamehta commented on #103
@curtstate @ciacco85 We have released this on VSCode, please try it and let me know if you face any issues. I will keep you updated about releasing this fix on VS

[2021-01-12 22:35] pragyamehta commented on #101
@pvinokurov The fix has now been released. Please try it and let us know if you face any issues.

[2021-01-12 22:56] filariow commented on #103
It's seems to be working now! Thank you very much guys!

[2021-01-12 23:03] curtstate commented on #103
@pragyamehta
I know you seem to already have answered this but just to be clear a separate fix will be released for Visual Studio ?

Is it the visual studio extension for bridge to kubernetes where the update will come ?

[2021-01-12 23:10] pragyamehta commented on #103
@curtstate  yes we will be releasing a new version of VS extension. I will keep this thread updated once I have more info on the eta

[2021-01-13 00:25] yorkie-m commented on #103
@pragyamehta please could you confirm the version number of the VS Code update. It's not showing up as an update how I would expect but I can see a version v1.0.20210112.  Installing that specific version does not solve our problem and the error 'Failed to get routing manager deployment status' is still reported.

Thanks.

![image](https://user-images.githubusercontent.com/16732445/104390244-20fcd

[2021-01-13 00:40] pragyamehta commented on #103
@yorkie-m yes the new version is v1.0.20210112. This should have auto upgraded for you, we are looking into fixing that part.
Could you share the latest library log file from %temp%\Bridge to Kubernetes or $TMPDIR/Bridge to Kubernetes. We would also like to take a look at the routing manager logs from the routing manager pod. It would be great if you could send these to bridgetokubernetes@microsof

[2021-01-13 03:09] k3NGuru commented on #67
@pragyamehta sent email from LebedevDO@sibgenco.ru

[2021-01-13 09:54] filariow opened #104 "Can't debug multiple microservices in VSCode with Bridge to Kubernetes"
**Describe the bug**
I'm trying to debug multiple microservices with Bridge to Kubernetes (in isolation) and vscode but it seems to be able to debug only one microservice at the time.
I got 4 microservices in .NET 5.0.2 with ASP.NET Core and I configured vscode to run each of them with Bridge to Kubernetes.
Finally I created the following compound in my `launch.json` file:

[code]

Whenever I star

[2021-01-13 13:40] yorkie-m commented on #103
@pragyamehta I spotted another version of the VS Code Extension appearing a short while ago - v1.0.120210113.

I've updated to that version and can now connect successfully into our cluster.   I'm just getting other developers on our team to verify and prove we can consistently connect but this appears to have fixed the issue.  Many thanks for all your help with this.  Looking forward to the Visua

[2021-01-13 15:58] yorkie-m commented on #103
@pragyamehta the next developer to try this is still seeing the routing manager deployment status error.  I've mailed the requested log files to yourself and bridgetokubernetes@microsoft.com.  Thanks

[2021-01-13 16:29] danreydel commented on #103
Hi,

I'm having a similar issue but I'm using Visual Studio 2019 together with the Bridge to Kubernetes extension v 2.0.20201216.1
Can it be that the issue is related to the one you already solved for VS Code?
Visual studio spends some time saying "connecting to service" and afterwards it appears an error message "Failed to get routing manager deployment status".
I'm using an AKS cluster with AGIC

[2021-01-13 16:32] curtstate commented on #103
@danreydel I asked this in a previous comment as I was experiencing the same thing and it will come in a separate fix in visual studio later this month.

[2021-01-13 18:01] rakeshvanga commented on #104
Thanks for letting us know. Ideally, with multiple instances of VS Code or with compound configuration, you should be able to debug with Bridge to Kubernetes.
One of the customers has already tried and it worked for them with compound configuration as mentioned in the issue: https://github.com/microsoft/mindaro/issues/84#issuecomment-749239274

Are there any other external components in your proje

[2021-01-13 18:52] filariow commented on #104
Hi @rakeshvanga, and thank you for you reply.
@ciacco85 is my teammate and I wrote the configurations he was using at the time of issue #84 . I really can not say if we were wrong or if something changed from that moment, but actually we are not able to debug using the compound.

Also @ciacco85 is experiencing the same issue on Windows 10.
We are both using vscode 1.52.1 and Bridge to Kubernetes E

[2021-01-13 19:04] rakeshvanga commented on #104
Thanks, @filariow for the info. Sure, I would try out with a couple of `.NET 5.0.2 with ASP.NET Core` projects and let you know the status.

[2021-01-15 14:05] mirogta opened #105 "Failed to start EndpointManager on MacOS / VSCode"
**Describe the bug**

The EndpointManager launch process has exited with exit code '1'.

**To Reproduce**
On Mac OS (Big Sur 11.1):
- brew install --cask visual-studio-code
- brew install dotnet
- Install Kubernetes addon for VSCode
  - Select a namespace where the desired pod for debugging is running
- Install Bridge to Kubernetes addon for VSCode
- Launch Bridge to Kubernetes - and go through th

[2021-01-15 17:30] mirogta opened #106 "Documentation / Troubleshooting: How to configure firewalls to make it work"
**Is your feature request related to a problem? Please describe.**

I've managed to get the EndpointManager start and it has attempted to create a duplicate pod in the k8s cluster. However the pod has never started successfully, because

I've realised that access to "bridgetokubernetes.azurecr.io" domain is blocked by our firewall and we needed to whitelist this domain.

**Describe the solution yo

[2021-01-15 17:35] mirogta commented on #106
After unblocking the "bridgetokubernetes.azurecr.io" we've ran into another error. Looks like we need to unblock more URLs. It would be great if these are documented so it's not a trial & error exercise.

[code]

However looking at the problematic domain above - "**weureplstore155.blob.core.windows.net**" - we may have a bit of a problem. I can't just allow access to a random blob store... If this

[2021-01-15 18:17] amsoedal commented on #105
Hi @mirogta, thanks for reporting this issue! The EndpointManager is a component that Bridge to Kubernetes uses in order to help facilitate communication between the service running locally and the cluster. It looks like the EndpointManager can't come up on your machine because of a dotnet issue, but I don't see anything immediately wrong from your `dotnet --info` output. Would you be open to re-i

[2021-01-15 18:28] rakeshvanga commented on #106
@mirogta Thanks for reporting the issue. We are aware of this and planning on moving all our images to Microsoft MCR registry. Once we are done moving to MCR, you could just whitelist MCR service tag or domain to work with Bridge To Kubernetes with firewalls.
I'll update this thread once we complete this work.

[2021-01-15 18:35] amsoedal commented on #105
I saw on https://github.com/microsoft/mindaro/issues/106 that you were able to get unblocked! How did you fix the issue?

[2021-01-15 20:31] mirogta commented on #105
Unfortunately didn't get unblocked, it's still an issue. I've switched to
Windows to try it there. But my default OS is Mac OS.

On Fri, Jan 15, 2021, 18:35 amsoedal <notifications@github.com> wrote:

[2021-01-15 22:54] rakeshvanga commented on #105
@mirogta Can you tell what folders are present at this location: `/Users/your_username/Library/Application Support/Code/User/globalStorage/mindaro.mindaro/file-downloader-downloads` on your Mac?

[2021-01-16 15:15] mirogta commented on #106
Thanks for the update - happy to test once you have done the move to MCR

[2021-01-19 01:00] mirogta commented on #106
I've temporarily whitelisted "**blob.core.windows.net**" in our firewall and the Bridge to Kubernetes started working on Windows.

[2021-01-19 01:32] rakeshvanga commented on #106
Thanks for the update.
But once we move to MCR you wouldn't need to whitelist such a broad domain.
Is your client also behind a firewall or any corp policies?

[2021-01-19 15:18] curtstate commented on #103
@pragyamehta Any word on when the fix will make it to visual studio ?

[2021-01-19 17:11] maxwagner-dev opened #107 "Service to debug cannot connect to required services within the cluster e.g. Redis / MySQL"
**Problem:**
I have my app running on my machine (Windows 10, Docker 20.10.2, WSL Backend activated). Within my app (written in PHP) I want to connect to a redis instance to allow some caching. If I run that redis service locally everything works. But when I use Bridge for Kubernetes I want my app to connect to the running redis instance in my cluster. On my machine the redis service is available

[2021-01-19 20:14] pragyamehta commented on #103
@curtstate We will be releasing this sometime this week.
@danegsta would be able to provide more details.

[2021-01-19 22:34] pragyamehta commented on #107
Hi @maxwagner-dev Bridge to Kubernetes does not work with Istio as of today, but we are looking into how to support that in the future. Could you elaborate on what you use istio for? That would help us prioritize its support.
Meanwhile, could you try this scenario without istio enabled on your cluster?

[2021-01-20 09:49] ciacco85 commented on #103
will the new versions for VS be able to run multiple micro services togheder according to solution configuration?

[2021-01-20 16:53] daniv-msft commented on #103
@ciacco85 Unfortunately, solutions won't be supported in the next Visual Studio release. Supporting solutions implies making deeper changes to how we store our Bridge configuration, and we don't have that yet.
However, we know it's something our VS users expect so it's definitely a change high in our backlog.

[2021-01-20 18:34] pragyamehta commented on #107
@maxwagner-dev On second thoughts, are you using B2K with isolation enabled or disabled? I believe this scenario should work for you with isolation disabled. Please let us know if that is not the case and provide us with logs.

[2021-01-21 09:07] maxwagner-dev commented on #107
@pragyamehta We use istio for various reasons (Traffic controlling, traffic spliiting for A/B Testing, Security...). Istio is essential to our product and we cannot live without it :)
I saw some issues with Istio and Bride for Kubernetes before here, that's why I have disabled isolation.

The PHP service is working and a get the debugger working, but only if I resolve the dependencies (MySQL Datab

[2021-01-21 15:33] irperez commented on #81
@pragyamehta does this include Istio using a Gateway/Virtual Service setup?  To be clear?

[2021-01-21 15:41] Haim-Bi commented on #81
Yes,
Using istio-ingressgateway (envoy) as load balancer that route the request according to the gateway with virtual service. (Using istio default profile if that helps)

[2021-01-21 15:46] irperez commented on #81
@pragyamehta You all rock!!!!  I was under the impression it was not possible just a couple months ago.

[2021-01-21 20:26] pragyamehta commented on #107
Hi @maxwagner-dev thanks for providing the information.
There are a couple of things we can do to troubleshoot this issue.

1. **Validate that we setup the connection successfully for you**: For this, we would require the logs from your local machine.
Attach logs from the following directory:
For Windows: %TEMP%/Bridge to Kubernetes
For OSX/Linux: $TMPDIR/Bridge to Kubernetes
If you are a Visual S

[2021-01-21 20:42] rakeshvanga commented on #104
@filariow I've set up a configuration with two `.NET 5.0.2 with ASP.NET Core` projects and debugged using two different instances of VS Code and using compound configurations of the workspace feature provided by VS Code.
In both cases, I'm able to debug both the apps and hit breakpoints in both of them.

**Few things I would like to know about your setup:**
- The configurations you are using in #8

[2021-01-21 21:25] pragyamehta commented on #107
@maxwagner-dev another thing to try is below
4. **Check connection to sql/exec from P**: Exec into P and try to connect to sql/redis from inside P and let us know what you find.

[2021-01-21 23:10] danegsta commented on #103
@curtstate @danreydel an update to the Visual Studio Bridge to Kubernetes extension was just pushed to the Visual Studio marketplace with the latest fixes for routing isolation connection issues.

[2021-01-22 02:49] HariAddepalli commented on #103
@danegsta thank you. I'm able to debug now on VS

[2021-01-22 19:46] ddzubow opened #108 "Unable to start Bridge for Kubernetes"
I am unable to complete the profile in order to start Bridge for Kubernetes.  I get an object reference error on the application URL dropdown.

![image](https://user-images.githubusercontent.com/1485351/105537455-f1ca2d80-5cbf-11eb-9368-e4d2e5a1b947.png)

If I attempt to manually put in the URL.  It doesn't seem to recognize it, as the 'OK' button does not become active.

I've attached the logs re

[2021-01-22 20:04] daniv-msft commented on #108
Thank you for opening this issue, and sorry you're getting it.
To help us investigate, would it be possible for you to run with the same kubeconfig / namespace:
- kubectl get ingress -o json
- kubectl get services -o json
and send us the results at `BridgeToKubernetes@microsoft.com`?

We're looking at the code in parallel on our side to understand this issue.

Adding @pragyamehta for FYI.
@danegst

[2021-01-22 20:16] danegsta commented on #108
@daniv-msft unfortunately the current logic for enabling the save button would be blocked by the error attempting to retrieve the endpoint URLs

[2021-01-22 20:56] ddzubow commented on #108
I've emailed you the responses to those commands.

[2021-01-22 20:56] ddzubow commented on #108
I've emailed you the responses to those commands.

[2021-01-22 21:02] daniv-msft commented on #108
Thanks @ddzubow! We're looking into this and will keep you updated in the next hours of when to expect a fix.

[2021-01-22 21:12] irperez commented on #108
@daniv-msft I work with Dan.  Keep in mind that we have many namespaces.  And there are ingresses and services per namespace where ddzubow is a namespace the he is working under.  Do you want to see the ingress/services for ddzubow's namespace?

[2021-01-22 21:14] daniv-msft commented on #108
Thanks @irperez! Yes, I just replied to Dan's email on this subject. The ingress/services for the namespace "ddzubow" is indeed what we're looking for.

[2021-01-23 00:19] daniv-msft commented on #108
We replied by email to @ddzubow and @irperez, but providing more information here in case anyone else encounters this issue: this error is due to us not handling properly Ingress rules without a `path` field.

We're going to release a fix for this next week.
As a workaround, you can define `"path": "/"` for your Ingress rules without path.

[2021-01-25 10:35] Pirand92 commented on #104
Hi @rakeshvanga, I'm a collegue of @filariow and with him I'm working on this company project. I'm a junior developer, so I'm sorry for any errors I'll say :-).

Initially, we have used isolation to develop, using namespace DEV and ours owns namespaces as isolation.
Initially all seemed works very well, then I have started to see that something went wrong, because when we started at least 2 micros

[2021-01-25 18:25] curtstate commented on #103
@danegsta, @pragyamehta  Thanks, my co-workers and I are now able to debug in VS again.

Latest fix is looking good so far.

[2021-01-25 23:40] rakeshvanga commented on #104
@Pirand92 Thanks for the details. If I understand correctly, when using with isolation are you accessing your services with the isolation endpoint? For example in your case it should be `lfieni.yourservicedomain.com/`. Here `lfieni` is the isolation header created for you.
Also you need to pass this isolation header as part of your request to next service that is being debugged simultaneously. Che

[2021-01-26 16:15] itays-chase opened #109 "Can't debug multiple microservices on my computer and have them redirect traffic to each other."
**Describe the bug**
I am trying to debug multiple microservices which calls each other.
Let's call them frontent api and backend api.
The url to call the frontend is ` frontend.example.com`
The url to call the backend is ` backend.example.com`
I want to be able to test their flow while having them running locallly on my compter using isolation mode.

as I understand to achive that I have to use t

[2021-01-27 01:36] pragyamehta commented on #109
Hi @itays-chase  Thanks for reporting this issue. I have created a bug on our side for this and we will prioritize and fix it. Thanks for your patience!

[2021-01-27 18:08] faysou commented on #71
I got exactly the same error, while using Openshift CRC as local cluster.

[2021-01-27 18:23] amsoedal commented on #71
Hi @faysou thanks for reporting this! Would you be able to upload/send your logs to BridgeToKubernetes@microsoft.com as well?

The logs can be found at:
For Windows: %TEMP%/Bridge to Kubernetes
For OSX/Linux: $TMPDIR/Bridge to Kubernetes

[2021-01-27 18:39] faysou commented on #71
Thank you.
I got the problem while debugging a Go app as well, I don't know if it's related, I'll try with another language to test.

I've sent you the two log files.

[2021-01-27 19:07] faysou commented on #71
Also I've noticed that in this document
https://github.com/microsoft/mindaro/tree/master/samples/todo-app

It says
"You will be prompted to allow the EndpointManager to run elevated and modify your hosts file."

But I didn't get any prompt.
I guess this is related to the "Failed to get elevation requests" error.

[2021-01-27 19:35] amsoedal commented on #71
@faysou, thanks for sending your logs over. It looks like there's an SSL issue when we try to communicate with the cluster. Are you currently able to make calls to the kube-api using your kubeconfig? If so, is the kube-api server locked down a certain way using SSL? Also, what cluster provider are you using?

[2021-01-27 20:55] faysou commented on #71
Thank you for your reply. I'm using a local Openshift CRC cluster in Windows. Usually I use the integrated oc cli from CRC. I'll try tomorrow what you suggest with kubeconfig.

[2021-01-28 07:07] faysou commented on #71
I'm able to access the cluster with kubeconfig.
I used this example in python : https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/

Maybe the dotnet code using by the Bridge to kubernetes extension expects some SSL security that is not present in a local dev cluster ? Although your documentation mentions that the extension works with minikube.

It's hard to know for me without

[2021-01-29 09:38] MoimHossain opened #110 "In Isolation mode (in PR scenario) regular traffics get to see the isolated changes"
I have the Pull Request Isolation mode on AKS. It's based on ```nginx-ingress``` (instead of **Traefik** as the example showed), and the Pull Requests are on Azure DevOps. Also, not using ```helm``` but regular manifest files. What I observe is that __routing manager__ works nice - creates all the ingress clones and envoy proxies, as expected. However, when I visit the main URI (not the URL with i

[2021-01-29 12:49] amsoedal commented on #71
@faysou thanks for the quick reply! Sorry if you've already done this, but could you run a command from kubectl directly, e.g. `kubectl get ns`? I want to confirm if there's anything different about access the cluster programatically vs. from the shell directly. Thanks for providing these details.

[2021-01-29 13:21] faysou commented on #71
The first time I got this

kubectl get ns
error: You must be logged in to the server (Unauthorized)

then I did
oc login -u kubeadmin -p D4tTL-hJYdy-qe36Y-okTwh https://api.crc.testing:6443
Login successful.

You have access to 62 projects, the list has been suppressed. You can list all projects with ' projects'

Using project "pol".

and this time it worked
kubectl get ns
NAME

[2021-01-29 16:26] amsoedal commented on #71
@faysou thanks for giving that a try! Again, this might be a naive question, but what happens if you run Bridge now that you've run `oc login` in a command line? I had a look at some openshift docs and it seems like once you run `oc login`, it saves the configuration you selected.

[2021-01-29 16:53] faysou commented on #71
I get exactly the same error.

There is some connection somehow from the plugin to the cluster as I'm able (and was able before as well) to run the configure step where I say which pod I want to replace, this step works and generates the following file, it's when it tries to do something with the cluster that it doesn't work.

    {
        // Use IntelliSense to learn about possible attributes.

[2021-01-31 01:35] rakeshvanga commented on #109
@itays-chase I was able to repro the issue. We would work on a fix and release it soon.
In the mean while if it possible you could use the localhost url to hit the frontend running on the local dev machine.
You could run `curl -H "kubernetes-route-as: itays" localhost: <localport>`.

[2021-01-31 08:42] itays-chase commented on #109
@rakeshvanga
please let me know when it's fixed as I am waiting for this solution to implement bridge to kubernetes in my team.
Thanks!

[2021-02-01 02:47] Alkhir commented on #32
https://discuss.python.org/t/pep-596-python-3-9-release-schedule-doubling-the-release-cadence/1828

[2021-02-01 08:24] MoimHossain commented on #110
I have resolved it myself. I am closing this issue.

[2021-02-01 08:24] #110 closed

[2021-02-01 12:49] amsoedal commented on #110
Hi @MoimHossain glad you were able to get it resolved. Did changing the configuration help?

[2021-02-02 15:53] mmhealey1 opened #111 "Visual Studio Bridge to Kubernetes "Failed to load current kubeconfig. Please confirm that your kubeconfig is valid.""
![image](https://user-images.githubusercontent.com/52454660/106624929-1353d080-656e-11eb-97c1-9919f959f8df.png)

Visual Studio cannot load my current kubeconfig file running on my machine. I have minikube running on windows 10 via docker desktop using WSL. I have downloaded the extension for VS Code and it recognizes the kubeconfig file just fine:
![image](https://user-images.githubusercontent.com

[2021-02-02 15:55] amsoedal commented on #111
@mmhealey1 thanks for reporting this issue! Could you please attach the logs from %temp%/Bridge to Kubernetes (or send them to BridgeToKubernetes@microsoft.com)? Thanks in advance!

[2021-02-02 16:03] amsoedal commented on #71
@faysou I've logged a bug for us to investigate. It's interesting that the configuration step works fine, but not the prep-connect. It might be one of our dependencies that is causing an issue.

[2021-02-02 16:06] mmhealey1 commented on #111
I've just added most recent log file :)

[2021-02-02 16:10] #103 closed

[2021-02-02 16:32] faysou commented on #71
Thank, I'm looking forward that your magical extension works in this setting. I haven't tested if it works in a real openshift cluster as I don't have access to one. But microsoft is big on Openshift with ARO.

[2021-02-02 16:34] mmhealey1 commented on #111
I just removed the extensions and it worked. E.g. here is my working kubeconfig:

[code]

[2021-02-03 06:05] MoimHossain commented on #110
Indeed. While cloning the middle-ware service (and its pod) I had to give the service and pod a new label for pull request flow -that resolved it. My bad, I overlooked this in first try. Thank you. :-)

[2021-02-03 15:37] trenslow opened #112 "Configure which services are available locally/publicly when using BtK"
**Is your feature request related to a problem? Please describe.**
I think Bridge to Kubernetes would seriously improvement my development workflow and am really excited to use it! However, due to my development environment's configuration, I currently can't use it (as far as I can tell).

My problem arises due to caveats in my development environment that conflict with both the development config

[2021-02-03 22:42] maxwagner-dev commented on #107
@pragyamehta  Sorry for the late response.
I setup some Test cases with the demo from the official docs

**Test Case 1** _(execute all steps from the Bikes AKS example - [link here](https://code.visualstudio.com/docs/containers/bridge-to-kubernetes-aks)):_
If I run the complete example described in the tutorial, it works. So I have my full app deployment in the cluster and the node bikes app on my

[2021-02-03 23:02] lolodi commented on #112
Hi @trenslow!
Thanks for contacting us. We are happy to hear your excitement about Bridge :)
I agree that in your scenario, because of Flux Isolation is the best method of using Bridge.

Bridge automatically makes available locally all the services in the same namespace, if other services are needed you can use the [KubernetesLocalProcessConfig.yaml](https://docs.microsoft.com/en-us/visualstudio/c

[2021-02-04 08:58] trenslow commented on #112
Hi @lolodi,
Thanks for the prompt response. Unfortunately I'm not able to disable Flux, nor our deployment approach.

If I understand correctly, the reason why my API's service isn't exposed locally is because the Service is of type NodePort, correct? More for my curiosity than anything. I'm also quite sure that the WAF would come automatically due to how it's implemented in GKE (defined in a Back

[2021-02-04 20:20] lolodi commented on #112
Hi @trenslow,
I believe there are couple of problems happening:

1. You would like a finer control over what is exposed in your local machine.
The way Bridge works it automatically lists all the services, that are in the same namespace as the one being debugged, and starts something similar to a port forward for everyone of them, so that they are available to your code running locally on your dev

[2021-02-04 20:34] lolodi commented on #107
Hi @maxwagner-dev
I believe in this case the issue is not with Istio but with running your code containerized.

TL;DR: As of today Bridge does not support containerized workload, but we do have a work item tracking this and it's definitely on our radar.

Details:
Bridge configures the network on the local machine to "bridge" your machine and the cluster. This involves creating port fowardings to m

[2021-02-05 17:39] #39 closed

[2021-02-05 18:03] greenie-msft commented on #35
Closing this thread. From what we've seen so far, the KubernetesLocalProcessConfig approach has worked well. Happy to revisit this in the future if we hear more requests for supporting it.

[2021-02-05 19:28] greenie-msft commented on #47
We discussed this over a call with the customer and have pushed many fixes to help address this issues.  Closing the thread for now, but please feel free to respond if the behavior continues.

Thank you.

[2021-02-05 19:28] #47 closed

[2021-02-05 19:49] greenie-msft commented on #75
Closing this issue as we now support a generic QuickStart which can be applied to existing customer applications:

https://code.visualstudio.com/docs/containers/bridge-to-kubernetes

[2021-02-05 19:49] #75 closed

[2021-02-05 19:50] greenie-msft commented on #73
Closing this thread as we have released a fix for this issue. Please feel free to comment if you're still experiencing this behavior.

[2021-02-05 19:50] #73 closed

[2021-02-05 20:51] V4A001 opened #113 "Bridge to kubernetes stopped working after visual studio 2019 update"
**Describe the bug**
Could not load file or assembly microsoft.azure.management.resourcemanager.fluent. the system cannot find the file specified. I also see two BridgeToKubernetes and BridgeToKubernetes2 in my debug options. Is this because I have 2 clusters? I cannot configure them however.

**To Reproduce**
Steps to follow to reproduce this issue.

**Expected behavior**
A clear and concise desc

[2021-02-05 21:46] V4A001 commented on #113
I uninstalled the kubernetes tools in the VS installer and reinstalled it. Now working again. Visual Studio Code still broken. But Visual Studio 2019 will do.

[2021-02-05 21:46] #113 closed

[2021-02-05 22:15] greenie-msft commented on #67
Issue was resolved with the customer over an email. Closing the thread, but feel free to comment if still experiencing this behavior.

[2021-02-05 22:15] #67 closed

[2021-02-05 22:19] greenie-msft commented on #51
Closing this thread since we now support HTTPS in all work modes.

Thank you.

[2021-02-05 22:19] #51 closed

[2021-02-05 22:36] greenie-msft commented on #72
I wanted to provide an update on this thread. We have further researched this subject and have not found a strong request for supporting .NET Framework. We still have this on our backlog, but it's not a high priority at this time.

Please feel free to reach out with further questions you might have. Thank you

[2021-02-05 22:36] #72 closed

[2021-02-05 22:39] greenie-msft commented on #57
We have released a fix for this in a past release. Closing this thread for now, but please comment if you are still experiencing this behavior.

Thank you.

[2021-02-05 22:39] #57 closed

[2021-02-05 22:45] greenie-msft commented on #52
Hi @abvaden,

We have investigating support for these environments (respectively) on our backlog. I'm closing this thread for now, but will make an announcement once we an update to share.

Thank you.

[2021-02-05 22:45] #52 closed

[2021-02-05 22:47] greenie-msft commented on #78
We have released a fix for this issue. Closing this thread, but please comment if you are still experiencing this behavior.

Thank you.

[2021-02-05 22:47] #78 closed

[2021-02-05 22:52] greenie-msft commented on #87
@brightzheng100 please let me know if @daniv-msft's response helped resolve the confusion. I'm closing this thread for now, but please comment if you're still experiencing issues.

Thank you.

[2021-02-05 22:52] #87 closed

[2021-02-05 22:57] greenie-msft commented on #105
Hi @mirogta,

Just wanted to follow up on this issue. Are you still experiencing this behavior?

[2021-02-06 01:08] mirogta commented on #105
Yes - can you please no close this so quickly. You know, there's the pandemic, difficult times for some people and responses and "can you try" troubleshooting may take longer than usual...

[2021-02-06 01:17] williamohara commented on #29
@daniv-msft

This is an aggravation for me - not so much a blocker - yet. I need to have parallelism. I will have to do a lot of context switching between WSL and Windows - when do you think you will support WSL?

[2021-02-06 01:55] daniv-msft commented on #105
@mirogta Sorry for the confusion: we closed the issue by mistake (this `Close with comment` button is far too close from the `Comment` one!) and @greenie-msft asked me to reopen the issue because I have more rights on the repository.

We totally understand that it might take days to test/reproduce a bug, so please don't feel pressured to do it immediately.

[2021-02-06 02:08] daniv-msft commented on #29
@williamohara Thanks for your message. We have made good progress on this since the previous comments, and we're close from having WSL support. Unless we discover major issues with the final integration, we should be able to provide this in the coming weeks (let's say end of February/beginning of March) in VS Code.

[2021-02-06 07:05] irperez commented on #108
@daniv-msft the work around worked.  Thanks!

[2021-02-08 12:29] trenslow commented on #112
Hey @lolodi thanks for all your help on this one. Will be looking out for BtK's support for NodePort Services!

One last small question: is there a way to easily clean up the workloads created by BtK if I chose to keep them running in the cluster after debugging is finished?

[2021-02-08 19:20] daniv-msft commented on #108
Thanks @irperez and @ddzubow! As discussed by email, we released early last week the Visual Studio update containing this fix. I'm closing this issue, but please let us know if you encounter any other problems. Thanks again for reporting this bug!

[2021-02-08 19:20] #108 closed

[2021-02-08 22:02] greenie-msft commented on #46
Hi @starkmsu

We have confirmed this is not an issue on the Bridge side.  Recommended guidance is to switch to system web browser to avoid the looping.

Below are additional details.
[Use accounts that require multi-factor authentication - Visual Studio | Microsoft Docs](https://docs.microsoft.com/en-us/visualstudio/ide/work-with-multi-factor-authentication?view=vs-2019#using-visual-studio-with-mf

[2021-02-08 22:02] #46 closed

[2021-02-08 22:06] greenie-msft commented on #50
Closing this thread since we've captured supporting AGIC as a work-item in our backlog.  We've also provided a workaround and guidance on how to properly propagate the isolation header between services.

Please open a new issue if there is still questions. Thank you.

[2021-02-08 22:19] greenie-msft commented on #58
Closing this issue for now as we have provided the necessary guidance. Please feel free to leave a comment if there are any outstanding questions. Thank you.

[2021-02-08 22:19] #58 closed

[2021-02-09 20:56] lolodi commented on #112
Hi @trenslow,
normally, after debugging, the workloads should be removed automatically and the networking restored as normal.
This is done because there is no point in leaving the BtK workloads in the cluster if there is no local service running to redirect the traffic to.
There is an option that allows you to keep them running between debug instances, but once you close the IDE (VS or VS Code) th

[2021-02-10 00:59] greenie-msft commented on #79
Closing this thread due to inactivity. @morganlaneap, please feel free to respond and we can reopen the thread. Thank you.

[2021-02-10 00:59] #79 closed

[2021-02-10 13:36] amsmota opened #115 "Get only 503 errors after connecting my VSC to a remote AKS"
Hi all, after following all the instructions from documentation, including adding code to my nodejs to propagate request headers, the only thin I get from my remote app (that is working fine when B2K is not connected) are 503 errors with this on logs:

`2021-02-10T13:32:08.698549226Z2021-02-10T13:32:08.6983520Z | RemoteAgent | TRACE | ReversePortForwardConnector on port 80 accepted incoming reques

[2021-02-10 16:10] amsmota commented on #115
Hi all, sorry for this but actually my 503 errors AFAICT were caused by defining the wrong local port of my service....

I still have issues, but not this one :)

Thanks and sorry.

[2021-02-10 16:10] #115 closed

[2021-02-10 22:44] maxwagner-dev commented on #107
Ok, thank you. Looking forward to this feature.

[2021-02-10 22:44] #107 closed

[2021-02-10 22:54] gorkem opened #116 "Isolated mode fails on OpenShift"
**Describe the bug**
When I try to use Bridge-to-Kubernetes with a deployment running on OpenShift it fails on isolated mode.
 As far as I can see it fails because of the default RBAC on OpenShift when trying to read `namespaces`

[code]

**To Reproduce**
I have used https://developers.redhat.com/developer-sandbox to make a deployment or a nodejs application.
Used vscode to configure and launch de

[2021-02-10 23:00] daniv-msft commented on #116
Thank you @gorkem for giving this scenario a try and opening this issue!
We're investigating OpenShift support, and I'm sharing this issue with the team member looking into it.
We might ask you more questions in the future, as there are some things that are not clear to me yet (for example, does OpenShift restrict listing namespaces by default but allows you to read from a particular one?).

We'll

[2021-02-11 16:52] squillace commented on #116
Note: whatever the solution ends up being, it should work for any cluster rbac'd like OS. This is just k8s, right?

[2021-02-11 17:48] gorkem commented on #116
Correct. It is a common practice to limit namespace listing on multi-tenant environments.  We do have a way to remedy this issue on OpenShift using a resource called `projects` instead of namespace but let's cross that bridge when we get there.

I hope listing the namespaces can be something optional.

[2021-02-11 19:49] squillace commented on #116
Yup, see it all the time -- it's not an OS thing. We just need to have the extension be able to recognize when the user needs to do something, and work on a limited set when the user can't do something, and have the situation reported as well as possible.

[2021-02-11 19:57] anmota-dttl-ie commented on #35
Hi all, I actually have the exactly scenario of the issue creator with the difference only that my DB reside in azure itself. And that his workaround didn't work in my case . And the advice given to use the KubernetesLocalProcessConfig.yaml doesn't even applies to me since the DB is not part of any namespace.

So it will be great if this issue could be reopened and a real solution implemented. Eve

[2021-02-11 21:15] greenie-msft commented on #54
Hi @irperez,

I'm closing this thread since there has not been much activity. If you are still experiencing this issue please feel free to reopen.

Thank you.

[2021-02-11 21:15] #54 closed

[2021-02-11 21:18] greenie-msft commented on #32
Hi everyone,

We have updated our code to be more resilient when downloading dependencies. Please let us know if you are still experiencing this issue.  Keeping this thread open for now.

Thank you

[2021-02-11 21:23] greenie-msft commented on #65
Closing this issue due to inactivity. Please free to reopen if still valid. Thank you.

[2021-02-11 21:23] #65 closed

[2021-02-11 21:24] greenie-msft commented on #98
Closing this issue due to inactivity. Please free to reopen if still valid. Thank you.

[2021-02-11 21:24] #98 closed

[2021-02-11 21:24] greenie-msft commented on #100
Closing this issue due to inactivity. Please free to reopen if still valid. Thank you.

[2021-02-11 21:24] #100 closed

[2021-02-11 21:25] greenie-msft commented on #104
Closing this issue due to inactivity. Please feel free to reopen if still valid. Thank you.

[2021-02-11 21:25] #104 closed

[2021-02-11 22:45] daniv-msft commented on #35
Thanks @anmota-dttl-ie for your comment. Could you please provide more details about your implementation?
Specifically:
* Where is your DB hosted in Azure? As you mention it's not part of a namespace, I assume it's not part of the same AKS cluster, right?
* How is your code calling this DB?

Understanding better your use case would allow us to provide more guidance. The KubernetesLocalProcessConfi

[2021-02-12 00:52] WolfspiritM opened #117 "Support headless services"
**Is your feature request related to a problem? Please describe.**
Currently we're hosting multiple headless services in the cluster. We'd like to use Bridge to Kubernetes to access these services. It seems like Bridge to Kubernetes is not able to make headless services available locally.

**Describe the solution you'd like**
[code]
This should create hosts for the kafka.shared service and also ho

[2021-02-12 02:29] daniv-msft commented on #117
Thanks @WolfspiritM for opening this issue.
I confirm that providing support for headless services is in our backlog. This requires more investigations on our side, and I'm bumping the priority of this work item on our side.

[2021-02-12 10:19] anmota-dttl-ie commented on #35
Hi, thanks for you quick reply. My setup is pretty standard or so I think... We have a azure Resource Group that contains a K8 cluster with a bunch of K8's in the 'default' namespace that call each others (5 to 8 typically) and then  on the same Resource Group we have other stuff like keyvaults, frontdoors, filestores,  a virtual network and a database server. This is Azure Database for PostgreSQL

[2021-02-12 10:34] tvdvoorde commented on #35
Yes agree with @anmota-dttl-ie
I was hoping that B2K would fix the common problem when such databases are also restricted to be accessed only by resources (such as AKS) in the same Azure VNET - which prevents developers from accessing them from their local machine.

[2021-02-12 10:36] tvdvoorde commented on #35
The work around that @jstaf described will not work for services with TLS that check the hostname

[2021-02-12 11:49] MaxiPalle opened #118 "Failed to configure Bridge to Kubernetes: No debug configurations found in launch.json to run the app locally"
Proceeded as in https://code.visualstudio.com/docs/containers/bridge-to-kubernetes.
With ```npm install``` I receive the following warnings:
[code]
When now trying to run "Bridge to Kubernetes: Configure", I receive the following error message:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
Attach logs from the following directory:
For Windo

[2021-02-12 14:14] amsoedal commented on #118
Hi @MaxiPalle, thanks for reaching out to us. Which app are you trying to debug? The samples from this repo (e.g. BikeSharingApp/Bikes) should all have debug configurations in launch.json already, like this one:

[code]

The error you're seeing means that Bridge wasn't able to find a debug configuration in the local folder. Perhaps try opening the Bikes folder directly in VSCode?

Hope this helps!

[2021-02-12 19:41] MaxiPalle commented on #118
I have opened the 'BikeSharingApp/Bikes' folder.
```launch.json``` with above mentioned code can be found in subfolder ```.vscode```.

[2021-02-12 20:03] daniv-msft commented on #35
Thank you @anmota-dttl-ie and @tvdvoorde for your replies. That really helps!
If if understand properly, we could unblock you by accepting in `KubernetesLocalProcessConfig.yaml` a new `dependencies` value that you could use to set any calls you need Bridge to Kubernetes to proxy from inside the AKS cluster, so that your local machine can call these dependencies:
[code]

I'm creating a work item on

[2021-02-12 20:19] anmota-dttl-ie commented on #35
That looks like it'll do the trick yes... That is really great, thanks a mil for you great support.

Cheers.

[2021-02-12 21:22] greenie-msft opened #119 "Bridge to Kubernetes would like your feedback!"
We'd like your feedback!

During a 30-minute call with our product development team, please tell us how you are using Bridge to Kubernetes and how we can improve it. We'll use the information to better understand customer scenarios and development requirements. We're also happy to provide a sneak peak of our roadmap.

This is an opportunity to help influence the direction of Bridge to Kubernetes!

[2021-02-12 22:40] daniv-msft commented on #118
Thank you for your reply.
I tested this scenario but unfortunately couldn't reproduce the issue.
Could you please confirm that you're using the latest version of the https://github.com/microsoft/mindaro repository, and that the folder opened in VS Code is `<YOUR_PATH>\mindaro-master\samples\BikeSharingApp\Bikes`?
Also, are you just opening this `Bikes` folder or are you opening multiple folders as

[2021-02-15 11:44] LesterThomas opened #120 "Debug fails with 'A CA must be set when SkipTlsVerify === false' error"
**Describe the bug**

Trying to debug a single nodejs microservice against a remote cluster. Initially, it selects the right kubernetes service (and so the kube config is set correctly and it is able to interact with the kubernetes API), but then the debugger fails with:
Error: Oops... An unexpected error has occurred.
For diagnostic information, see logs at 'C:\Users\leste\AppData\Local\Temp\Brid

[2021-02-15 13:13] amsoedal commented on #120
Hi @LesterThomas, thanks so much for catching this issue & pointing it out. Will log a bug for us to improve the error message here. Thanks!

[2021-02-16 14:46] Ble3dingEdg3 commented on #97
Does this mean that B2K8s works with clusters in *any* cloud?

[2021-02-16 17:08] daniv-msft commented on #97
@Ble3dingEdg3 Yes, you can use Bridge with any cloud provider or local cluster (AKS, AWS, GKE, minikube, etc.). If you encounter an issues with a specific cloud, please don't hesitate to report an issue.

[2021-02-19 11:18] trenslow commented on #112
If I choose to let the workloads run between debug instances, the RoutingManager deployment and service stay in the cluster, along with the Ingress that was created.

I don't mind so much that the RoutingManager resources stick around, but I'm a bit uncomfortable leaving an extra entry point into the cluster hanging around. However if the Service that the Ingress exposes gets cloned as type NodePo

[2021-02-19 11:23] catnip-se opened #122 "Debug fails with 'No process is associated with this object'"
I have 3 services defined in the same solution and configured for BtK in the same way. For two of them debugging works fine but for the third one a 'No process is associated with this object' error is displayed after the EndpointManager is started. All three services are up and running in the cluster.

BtK version: 2.1.20210213.1

Logs
[bridge-endpointmanager-2021-02-19-10-55-07-40232.txt](https:/

[2021-02-19 11:27] amsoedal commented on #122
Hi @catnip-se,
From the CLI logs I see "Port number must be specified for service case-command.dev" as the failure reason. I will log a bug on our side to display this error message correctly!

[2021-02-19 11:54] catnip-se commented on #122
Hi,
We usually only define a port number (80) in the Dockerfile and that is the same both for the failing service and the other services that can be debugged successfully.

[2021-02-19 12:42] amsoedal commented on #122
Hmm, is there anything special about how you're declaring this service compared to the other two in the KubernetesLocalProcessConfig.yaml file? If it looks normal to you but you're still encountering issues, feel free to send us a copy of this file at BridgeToKubernetes@microsoft.com.

[2021-02-19 14:03] catnip-se commented on #122
Ah, in the KubernetesLocalProcessConfig.yaml file for the failing service we had an environment variable definition
name: XXX_SERVICE_HOST
value: $(services:case-command.dev)
which referenced an old version of the service.

Removing that definition solved the problem!
Thanks for the help!

[2021-02-19 14:04] amsoedal commented on #122
@catnip-se Awesome, glad you were able to get unblocked :)

[2021-02-19 14:06] #122 closed

[2021-02-19 18:52] lolodi commented on #112
This is correct, as of today the additional cloned ingresses and services are already deleted once debug is completed but the RoutingManager stays running, we have a work item to track its removal once the debug is done.

The RoutingManager service is not exposed publicly and when Bridge needs to talk to it it just port forwards to its pod, using kubectl, so this should not add any additional vuln

[2021-02-23 05:16] rajserc opened #123 "Command 'Bridge to Kubernetes: Configure' resulted in an error (Running the contributed command: 'mindaro.configure' failed.)"
**Describe the bug**
Trying to debug app running in pod on an existing cluster shows error "Command 'Bridge to Kubernetes: Configure' resulted in an error (Running the contributed command: 'mindaro.configure' failed.)". This happens after all the four steps are completed.

**To Reproduce**
Steps to follow to reproduce this issue.

Select the kubernetes cluster with correct namespace
ctrl+shift P,

[2021-02-23 12:39] amsoedal commented on #123
Hi @rajserc, thanks for reporting this issue.
Are there any more log files in the %TEMP%/Bridge to Kubernetes directory, e.g. bridge-library-*.txt or bridge-endpointmanager-*.txt? You can email them to BridgeToKubernetes@microsoft.com if you don't feel comfortable uploading them here.

Another thing to check: does it look like the Bridge extension activated correctly? If it did, you should be able

[2021-02-23 12:41] itays-chase commented on #109
@rakeshvanga any news?

[2021-02-23 17:37] rajserc commented on #123
Unfortunately i dont see any other file in %TEMP% dir. (win 10 btw).

The kubernetes icon on the bottom does show the namespace correctly and there is no error.

The k8s cluster is rancher with rbac, should i give some permissions ? The pod is a openfaas python fast api function, i guess it doesnt matter.

[2021-02-23 17:37] rakeshvanga commented on #109
@itays-chase I've fixed the issue but still waiting for release. I would update once we release the change. The release should be done today or tomorrow.

[2021-02-23 18:07] rakeshvanga commented on #123
Can you share the log file from the Brdige To Kubernetes VS Code extension? You can get the path of the log file from the output window:

<img width="975" alt="Screen Shot 2021-02-23 at 10 11 23 AM" src="https://user-images.githubusercontent.com/33327237/108887121-abb60180-75be-11eb-846a-2ed4fe64761e.png">

Also what are the versions of Bridge To Kubernetes VS Code extension and Kubernetes VS Code

[2021-02-23 18:54] AlexFsmn opened #124 "Process 'PID XXXX [com.docker.backend.exe]' binds to port '99' on all addresses"
Ok, so I completed the setup in **VS Code** and tried to debug a pod but I got this:
`Process 'PID XXXX [com.docker.backend.exe]' binds to port '99' on all addresses. This will prevent 'Bridge To Kubernetes' from forwarding network traffic on this port. Please stop this process or service and try again.`

The port in the exception refers to a port used by another pod in the cluster (not the pod I'